.fit-height .nav-item-container { height: var(--container-h,initial) !important; }


#gpb {

    padding-top: .5rem;
    position: relative;
    width: 9rem !important;
    flex-basis: 9rem !important;


	.logo { 
	    float:right;
	    width: 80px; 
	    .ico { 
            width:30px;
            margin-right: 18px;

	    }
	    .txt {
	        opacity:0;
            transition: opacity .5s ease-in-out;
	    }
	}

	.text {
		position: absolute;
		opacity:0;
        transition: opacity .35s ease-in-out;
		top: 120px;
		right: 80px;
		width: 60px;
		font-size: .8rem;
		line-height: 1.15;        
        text-shadow: 0 3px 8px #000;

        @include breakpoint(mobile-only) {
            right: 96px;
        }
	}
}

header {
	height: 0px;
	opacity:0;
	transition: all .75s ease;
	background-color: #3455;

	.g-particle {
	    width: 100%;
	    position: relative;
	    height: 120px;
	}

}


.gn-page-meta {

    position: absolute;
    bottom: 0;
    
    h1 {
        padding: 0 1rem;
        font-family: var(--font-heading);
        font-size: 4rem;
        font-weight: 300;
    }
}

main {
	margin-top: 1rem;
	padding-top: 1rem;
}


body.at-top {

	#gpb {
		.txt { opacity: 1 }
		.text { 
			opacity: 1;
		}
	}

    header { 
        opacity: 1;
        height: 120px;
    }


}
