.fix-at-top {
    position: fixed;
    width: 100%;
    top:0;
    z-index: 90;
}

.dock-at-top {
    transition: all 1s ease;
}

.pinned {
    width: 100%;
    z-index: 90;
    box-shadow: 0 0 6px var(--shadow);
}

.g-branding {
    padding: 1em 0;
}

#breadcrumbs {
    padding: 1em 0;
    a { color: var(--t); }
}


a.logo img {
    width: 100%;
}

.line-data {
    line-height: 2.4;
    .stat { float: right;}
}
