<div id='ncc-page'>


<div  class='mt-200 mb-100 label'>Gantry5 Preset YAML</div>

<form style='height: 50vh;'>
<textarea class='ml-100' style='height: 100%' class='text_yaml'></textarea>
</form>

<div class='mt-200 mb-100 label'>scss variable</div>

<form style='height: 50vh;'>
<textarea class='ml-100'  style='height: 100%' class='text_scss'></textarea>
</form>




</div>



