@import 'custom/grav-dependency';

.color-chart {
	width: 15%;
	padding-right: 2rem;
	display: flex;
	flex-direction: column;
	
	&.row {
		flex-direction: row;
		width: 100%;
		> div { width: 15%; }

	}
}

.color-preview {
	width: 85%;
}

.label {
	margin: 1rem 0;
	font-weight: 300;
	color: #909;
	text-transform: lowercase;
	font-family: var(--font-mono);
}

.dark-scheme .label {
	color: #6d6;
}

.boxcolor,
input[type="color"] {
  height: 2.5rem;
  position: relative;
  width: 100%;
  padding: 0 !important; }
  .boxcolor:after, .boxcolor:before,
  input[type="color"]:after,
  input[type="color"]:before {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    font-family: var(--font-mono);
    width: 72px;
    display: block;
    font-size: .85rem; }
  .boxcolor:before,
  input[type="color"]:before {
    top: .5rem;
    left: .5rem;
    content: attr(data-color);
    font-weight: bold; }
  .boxcolor:after,
  input[type="color"]:after {
    bottom: .25rem;
    right: .5rem;
    text-align: right;
    content: attr(data-value); }

input[type="color" i]::-webkit-color-swatch-wrapper,
input[type="color" i]::-webkit-color-swatch {
  padding: 0;
  border: none;
  cursor: pointer; }



.nc-icon {
	display: flex;
	flex: 0 0 10%;
	flex-flow: row wrap;
	justify-content: center;
	i { font-size: 3rem; margin-bottom: 1rem; }
	input { font-size: .7rem; display: block; width: 100%; margin-bottom: .5rem; text-align: center;}
	margin-bottom: 1rem;
	border: 1px solid var(--shade2);
	padding: .5rem;
	background-color: var(--shade);
	span { font-size: .8rem; color: var(--accent); }
	
	
}

.dummy-reset {
	display: flex;

	[role="navigation"] {
		margin-right: 2rem;
	}
	
	footer p { text-align: right; }

}

.theme-dummy {
	display: flex;

	.td-menu {
		width: 25%;
		flex-basis: 25%;
	}
	
	.td-content {
		width: 75%;
		flex-basis: 75%;
		display: block;
	}
	
}

.debug {
	--shade: #dee;
	--border: var(--background);
	--surface: #369;
	--text: var(--background);
	
	div {
		background: var(--shade);
		border: 2px solid var(--border);
	}
	
	span { 
		background: var(--surface);
		display:block;
		color: var(--text);
		text-align: center;
	}
}


.dark-scheme .debug {

	--shade: #333;
	--border: var(--background);
	--surface: #9cc;
	--text: var(--background);

}


.example {
	position: relative;
	transition: all 1s ease-in-out;

}


textarea.example {
	width: 100%;
	min-height: 8rem;
	font-size: 1em;
	line-height: 1.2;
	@include scrollbars( .25rem, #fff3, #0006);	
}
