@font-face {
  font-family: 'neoca-feather';
  src:  url('fonts/neoca-feather.eot?k5jua9');
  src:  url('fonts/neoca-feather.eot?k5jua9#iefix') format('embedded-opentype'),
    url('fonts/neoca-feather.ttf?k5jua9') format('truetype'),
    url('fonts/neoca-feather.woff?k5jua9') format('woff'),
    url('fonts/neoca-feather.svg?k5jua9#neoca-feather') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ncico-"], [class*=" ncico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'neoca-feather' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ncico-menu:before {
  content: "\21";
}
.ncico-more-vertical:before {
  content: "\22";
}
.ncico-more-horizontal:before {
  content: "\23";
}
.ncico-plus:before {
  content: "\24";
}
.ncico-minus:before {
  content: "\25";
}
.ncico-x:before {
  content: "\26";
}
.ncico-check:before {
  content: "\27";
}
.ncico-arrow-up:before {
  content: "\28";
}
.ncico-arrow-right:before {
  content: "\29";
}
.ncico-arrow-down:before {
  content: "\2a";
}
.ncico-arrow-left:before {
  content: "\2b";
}
.ncico-chevron-up:before {
  content: "\2c";
}
.ncico-chevron-right:before {
  content: "\2d";
}
.ncico-chevron-down:before {
  content: "\2e";
}
.ncico-chevron-left:before {
  content: "\2f";
}
.ncico-chevrons-up:before {
  content: "\30";
}
.ncico-chevrons-right:before {
  content: "\31";
}
.ncico-chevrons-down:before {
  content: "\32";
}
.ncico-chevrons-left:before {
  content: "\33";
}
.ncico-toggle-right:before {
  content: "\34";
}
.ncico-toggle-left:before {
  content: "\35";
}
.ncico-code:before {
  content: "\36";
}
.ncico-download:before {
  content: "\37";
}
.ncico-upload:before {
  content: "\38";
}
.ncico-thumbs-up:before {
  content: "\39";
}
.ncico-thumbs-down:before {
  content: "\3a";
}
.ncico-tool:before {
  content: "\3b";
}
.ncico-sliders:before {
  content: "\3c";
}
.ncico-settings:before {
  content: "\3d";
}
.ncico-search:before {
  content: "\3e";
}
.ncico-eye:before {
  content: "\3f";
}
.ncico-eye-off:before {
  content: "\40";
}
.ncico-square:before {
  content: "\41";
}
.ncico-square-x:before {
  content: "\42";
}
.ncico-square-plus:before {
  content: "\43";
}
.ncico-square-minus:before {
  content: "\44";
}
.ncico-square-edit:before {
  content: "\45";
}
.ncico-square-check:before {
  content: "\46";
}
.ncico-circle:before {
  content: "\47";
}
.ncico-circle-check:before {
  content: "\48";
}
.ncico-slash:before {
  content: "\49";
}
.ncico-help-circle:before {
  content: "\4a";
}
.ncico-alert-circle:before {
  content: "\4b";
}
.ncico-home:before {
  content: "\4c";
}
.ncico-globe:before {
  content: "\4d";
}
.ncico-tv:before {
  content: "\4e";
}
.ncico-bp-monitor:before {
  content: "\4f";
}
.ncico-computer:before {
  content: "\50";
}
.ncico-laptop:before {
  content: "\50";
}
.ncico-bp-tablet:before {
  content: "\51";
}
.ncico-bp-smartphone:before {
  content: "\52";
}
.ncico-spinner:before {
  content: "\53";
}
.ncico-loading:before {
  content: "\53";
}
.ncico-busy:before {
  content: "\53";
}
.ncico-wheel:before {
  content: "\53";
}
.ncico-layout-c:before {
  content: "\54";
}
.ncico-layout-f:before {
  content: "\55";
}
.ncico-layout-h:before {
  content: "\56";
}
.ncico-layout-s:before {
  content: "\57";
}
.ncico-layout-v:before {
  content: "\58";
}
.ncico-github:before {
  content: "\59";
}
.ncico-html:before {
  content: "\5a";
}
.ncico-css:before {
  content: "\5b";
}
.ncico-grav:before {
  content: "\5c";
}
.ncico-list:before {
  content: "\5d";
}
.ncico-paperclip:before {
  content: "\5e";
}
.ncico-save:before {
  content: "\5f";
}
.ncico-loader:before {
  content: "\60";
}
