<div id='ncc-vars' class='panels container2'>


<div  class='mt-200 mb-100 label'>Gantry5 Preset YAML</div>

<form>
<textarea class='text_yaml'></textarea>
</form>

<div class='mt-200 mb-100 label'>scss variable</div>

<form>
<textarea class='text_scss'></textarea>
</form>




</div>



