%imagecover {
	background-color:#0009;
	background-position: 50% 0%;
	background-size: cover;
	background-blend-mode:darken;
}

%vcenter { @include flexa(center,center) }


%block-shadow {
    box-shadow: 0 2px 1px var(--shadow);
}

%display-none {
	display: none;
}

%noselect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


#g-navigation,
#g-offcanvas,
footer,
header,
input,
button,
nav,
video,
object,
script {
	@extend %noselect;
}