.g-branding {
	padding: 1em 0;
}

#breadcrumbs {
	padding: 1em 0;
	a { color: var(--t); }
}

a.logo img {
	width: 100%;
}

.line-data {
	line-height: 2.4;
	.stat { float: right;}
}

.logo-large { width: 100% }

.g-social {
	.g-social-text { margin-left: .5rem }
}

