#neoca_scheme_switch { padding: .5rem; }
#neoca_scheme_switch i.on:before { transform: rotate(180deg)}


.color-chart {
	background: #e0e0e0;
	border: 1px solid var(--border);
	--label: #139;
}

.dark-scheme .color-chart {
	background: #333;
	--label: #ccc;
	
}

.color-preview {
	display: flex;
	flex: 1 0 87.5%;
	flex-flow: column wrap;
	background: var(--background);
	border: 1px solid var(--border);
    border-left:none;
    padding: 1rem 1rem 2rem 2rem;
}

.row .color-chart {

	border-right: none;
	&:last-child { border-right: 1px solid var(--border); }
}

.color-chart {
	display: flex;
	flex: 1 0 12.5%;
	flex-flow: column wrap;
	border: 1px solid var(--border);
	padding: .5rem;

	> div {
        margin: 0 0 .25rem 0;
	}

	.label {
		text-align:center;
		color: var(--label);
		font-weight: 700;
		font-size: .75rem;
		text-transform: capitalize;
	}
}

input[type="color"],
.boxcolor {

	height:2.5rem;
	position: relative;
	width: 100%;

    &:after,
	&:before {
		text-overflow:ellipsis;
		overflow: hidden;
        white-space: nowrap; 
		position: absolute;
		font-family: var(--font-mono);
		width: 72px;
		display:block;
		font-size: .85rem;
	}
		
	&:before {
		top: .5rem;
		left: .5rem;
		content: attr(data-color);
		font-weight: bold;
	}
		
	&:after {
		bottom: .25rem;
		right: .5rem;
		text-align: right;
		content: attr(data-value);
	}			
}

input[type="color"] {
	width: calc(200px - 1rem);
	padding: 0 !important;
}

input[type="color" i]::-webkit-color-swatch-wrapper,
input[type="color" i]::-webkit-color-swatch {
	padding: 0;
	border: none;
	cursor: pointer;
}	

.color-input {
    width: 100%;
    padding: .5rem;
}


