
@mixin alert-color($color) {
	--border: #{get-hsl-var($color)};
	--background: #{get-hsl-var($color,(l:88%))};
	--text: #222;
}


@mixin dark-alert-color($color) {
	--border: #{get-hsl-var($color,(l:40%))};
	--background: #{get-hsl-var($color,(l:18%))};
	--text: #ddd;
}

.alert {
	background: var(--background);
	color: var(--text);
	padding: 1rem 2rem 1rem 3rem;
	width: 100%;
	margin: 1em 0;
	box-shadow: 0 0 4px var(--shadow);
	border-left: .5rem solid var(--border);
	border-radius: .5em;
	position: relative;
	&:before {
		color: var(--border);
		font-family: 'ncc-feather';
		content: '\4b';
		position: absolute;
		left: 1em;
		top: .8em;
		cursor: pointer;
	}
}

.alert-warning {
	&:before { content:'\4a'; }
	@include alert-color(warning); };
.alert-error {
	&:before { content:'\49'; }
	@include alert-color(error); };
.alert-success {
	&:before { content:'\48'; }
	@include alert-color(success); };
.alert-info {
	@include alert-color(info); };


.dark-scheme {
	.alert-warning {
		@include dark-alert-color(warning); };
	.alert-error {
		@include dark-alert-color(error); };
	.alert-success {
		@include dark-alert-color(success); };
	.alert-info {
		@include dark-alert-color(info); };
}