body {
	background: var(--background);
	color: var(--text);
	a { color: var(--accent); }
	overflow: overlay;
	@include scrollbars(.75rem, var(--shade), var(--shade1), var(--light3);

	&.dark-scheme {
		@include scrollbars(.75rem, var(--light2), var(--light1), var(--light3));
	}
}


textarea { 
	overflow: overlay;
}