figure {

	margin:0;
	padding: .5em;
	position: relative;
	display: inline-flex;
	background: #fff;
	border: 1px solid var(--border);

	&.left { float: left; margin-right: 1em; margin-bottom: 1em; }
	&.right { float: right; margin-left: 1em; margin-bottom: 1em; }
	&.fitwidth { margin: 1em 0; display:block; width: 100%; }
	&.center { margin: 1em auto; display:block; }

	&.half { max-width: 49%; }
	&.quater { max-width: 24%; }

	img { width: 100%; }

	figcaption {
		width: calc(100% - 1em);
		margin:0;
		position: absolute;
		bottom: .5em;
		padding: .5em .5em 0;
		background:var(--text);
		color: var(--background);
	}
}
