nav.menucan {

	--menu-width: 180px;
	--text: var(--t,var(--text));
	--hover: var(--c-ho, var(--shade1));
	--active: var(--c-ac, var(--shade2));
	--background: var(--c, var(--surface));

}

.bg {
	background: var(--c);
	color: var(--t);
}

@mixin dropdown-show {
    opacity: 1;
    height: auto;
    z-index: 81;
    visibility:visible;
    transform:scaleY(1) translate(0) ;
    height: auto;
    width: initial;

}

@mixin dropdown-hide {
    opacity: 0;
    z-index: -1;
    width:0;
    height:0;
    transform: scaleY(.1) translateY(-100%);
    visibility:hidden;
}

nav.menucan {

    position: relative;
    z-index: 80;
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--background);

    @include breakpoint(mobile-only) {
        height: auto;
		position: absolute;
		left: 0;		
    }

    ul { margin: 0 }

	.toplevel {
		@include flex-div(row, start, start, nowrap);
        height: 100%;
	}

    .nav-item {
    	transition: background .5s ease;
    }

    .active {
        background-color: var(--active);
    }


    .nav-item-container {
        @include flex-div(row, center, space-between, wrap);
        transition: background .5s ease;
        color: var(--t);
        padding: 0 .5em;
        height: 100%;
        &:hover { text-decoration: none; }

    }


    .nav-item-content {
    	white-space:nowrap;
    	text-overflow:ellipsis;
    	overflow:hidden;
    }

    .dropdown-menu {
        @include dropdown-hide;
        background: var(--background);
    }


	li {
	    width: var(--menu-width);
	    height: 100%;
        .dropdown-menu  {
        	background: var(--background);
            position: absolute;
            li a { padding: .5rem; }
        }

	}

    input[type='checkbox'] {
        display: none;

        ~ div > label,
        ~ a > label {
        	.off { display: none; }
        	.on { display: block; }
        }
    }

	input[type="checkbox"]:checked {

        ~div > label,
        ~ a > label {
        	.off { display: block; }
        	.on { display: none; }
        }

        ~ .dropdown-menu {
        	@include dropdown-show;
            display:initial;
        }
	}


    li:hover {
    	background-color: var(--hover);
        .dropdown-menu {
        	@include dropdown-show;
        }

        @include breakpoint(mobile-only) {
            .dropdown-menu {
                display: none;
            }
        }
    }

}


li {

    .g-fade {
    	transition: opacity .5s linear;
    }


    .g-slide {
    	transition: transform .25s ease;
    }


}


.g-go-back {
	display:none;
}