
@mixin notice-color($color) {
	--border: #{get-hsl-var($color,(l:80%))};
	--background: #{get-hsl-var($color,(l:92%))}; 
	--text: #222; 
} 

@mixin dark-notice-color($color) {
	--border: #{get-hsl-var($color,(l:40%))};
	--background: #{get-hsl-var($color,(l:20%))}; 
	--text: #ddd; 
} 

.notices {

	background: var(--background);
	color: var(--text);
	padding: 1em 3em 1em 1em;
	margin-bottom: 1em;
	border: 1px solid var(--border);
	position: relative;
	
	&.yellow { @include notice-color(warning); }
	&.red { @include notice-color(error); }
	&.blue { @include notice-color(info); }
	&.green { @include notice-color(success); }

    p { margin-bottom: 0 }
    
	&:after {
		content: "x";
		position: absolute;
		top: 0;
		right: .5em;
		font-family: sans-serif;
		color: var(--border);
	}
}

.dark-scheme .notices {
	&.yellow { @include dark-notice-color(warning); }
	&.red { @include dark-notice-color(error); }
	&.blue { @include dark-notice-color(info); }
	&.green { @include dark-notice-color(success); }

}