
$way:(
	'l':'left',
	'r':'right',
	'b':'bottom',
	't':'top'
);

$bs: (1,2,3);

@each $s,$w in $way {

	.border-#{$s} {
		border-#{$w}-width: 1px;
		border-#{$w}-style: solid;
		border-#{$w}-color: var(--border);
	}
}

	.border,.border-a {
		border-width: 1px;
		border-style: solid;
		border-color: var(--border);
	}

@for $i from 1 through 7 {

	.bw-#{$i} { border-width: #{$i}px; }

}

.bs-dot { border-style: dotted }
.bs-dash { border-style: dashed }
.bs-double { border-style: double; border-width: 4px; }

.bc-shade { border-color: var(--shade); }


/* ---------- new atomic way ------------ */

$sides:(
	'a':'all',
	'l':'left',
	'r':'right',
	'b':'bottom',
	't':'top'
);


@each $style in [dotted,dashed,double,solid] {
	@each $c in [light,shade] {
		@for $i from 0 through 3 {
			$color: #{$c};
			$cn: '';
			@if($i>0) { $color: #{$c}#{$i}; $cn:$i; }
			@for $z from 1 through 7 {
				$zs: $z;
				@if ($z==1) { $zs: ''; }
				
				@each $s, $side in $sides {
				
					$prefix: border;
					$sn: -#{$s};
					
					@if ($s=='a') {
						$sn: '';
					}
					
					@if ($side!='all') {
						$prefix: border-#{$side};
					}
				
					.bd#{$sn}-#{$style}#{$zs}-#{$c}#{$cn} { 
						#{$prefix}: #{$z}px #{$style} var(--#{$color}) !important;
					}
				}
			}
		}
	}			
}

