
$sizes: (0, 25,50,75,100,200,300,400,500,600,700);

@each $s in $sizes {
	@if ($s==0) {
		$i: 0 !important;
	} @else {
		$i: #{($s/100)}em;
	}

	.pa-#{$s} { padding: #{$i}; }
	.px-#{$s} { padding-right: #{$i}; padding-left: #{$i}; }
	.py-#{$s} { padding-top: #{$i}; padding-bottom: #{$i}; }
	.pr-#{$s} { padding-right: #{$i}; }
	.pl-#{$s} { padding-left: #{$i}; }
	.pt-#{$s} { padding-top: #{$i}; }
	.pb-#{$s} { padding-bottom: #{$i}; }
}

@each $s in $sizes {

	@if ($s==0) {
		$i: 0 !important;
	} @else {
		$i: #{($s/100)}em;
	}

	.ma-#{$s} { margin: #{$i}; }
	.mx-#{$s} { margin-right: #{$i}; margin-left: #{$i}; }
	.my-#{$s} { margin-top: #{$i}; margin-bottom: #{$i}; }
	.mr-#{$s} { margin-right: #{$i}; }
	.ml-#{$s} { margin-left: #{$i}; }
	.mt-#{$s} { margin-top: #{$i}; }
	.mb-#{$s} { margin-bottom: #{$i}; }
}

