.flex {

	display: flex;

	&.easy {
		flex-direction: row;
		flex-wrap: wrap;

	}

	&.row { flex-direction: row; }
	&.col,&.column { flex-direction: column; }
	&.wrap { flex-wrap: wrap; }
	&.nowrap { flex-wrap: nowrap; }

	&.top { align-items: start; }
	&.middle { align-items: center; }
	&.bottom { align-items: flex-end; }
	&.left { justify-content: start; }
	&.center { justify-content: center; }
	&.right { justify-content: flex-end; }
	&.between { justify-content: space-between; }
	&.evenly { justify-content: space-evenly; }

	&.shrink,.shrink { flex-shrink: 1 }
	&.grow,.grow { flex-grow: 1; max-width: 100%; }

}

.g-block,
.g-grid {
	flex-wrap: wrap;
	align-items: flex-start;
	display: flex;
}

.g-block {
	@extend .flex;
}
