.flex {

	display: flex;

	&.easy {
		flex-direction: row;
		flex-wrap: wrap;

	}

	&.row { flex-direction: row; }
	&.row-reverse { flex-direction: row-reverse; }
	&.col,&.column { flex-direction: column; }
	&.wrap { flex-wrap: wrap; }
	&.nowrap { flex-wrap: nowrap; }

	&.top { align-items: start; }
	&.middle,&.mid { align-items: center; }
	&.bottom { align-items: flex-end; }
	&.left { justify-content: start; }
	&.center { justify-content: center; }
	&.right { justify-content: flex-end; }
	&.between { justify-content: space-between; }
	&.evenly { justify-content: space-evenly; }

	&.shrink,.shrink { flex-shrink: 1 }
	&.grow,.grow { flex-grow: 1; max-width: 100%; }

}

.g-block,
.g-grid {
	flex-wrap: wrap;
	align-items: flex-start;
	display: flex;
    width: 100%;
}

.g-grid {
    flex-flow: row;
	flex-wrap: wrap;
}

.g-block {
	@extend .flex;
}

section {
    width: 100%;
}