@mixin touch-alike {

    box-shadow: 0 0 8px var(--light3);
    background-color: var(--light1);
    border-radius: 50%;

}

@mixin responsive-transform {
    &.fixed-left.slide { transform: translateX(-100%); }
    &.fixed-right.slide { transform: translateX(100%); }
    &.left.slide { transform: translateX(-100%); }
    &.right.slide { transform: translateX(100%); }
    &.h-flip { transform: translateX(150%) perspective(50vw) rotateY(-90deg)    }
}


.responsive-block {

    transition: all .5s ease;
    z-index: 999;

	@include breakpoint(mobile-only) {
        visibility: hidden;
        opacity: 0;
	}

    .res-close { display: none; }
	
	&.show {
		visibility: visible;
		opacity: 1;
		transform: translate(0) rotate(0);
	}

}


.res-content {

    transition: all 1s ease;
    width: var(--responsive-width);

	@include breakpoint(mobile-only) {
		.res-close { display: initial; }
        @include responsive-transform;
    }
				
	&.show {
		transform: translate(0) rotate(0) scale(1);
		opacity: 1;
	}

}

[data-responsive-position='pos-fixed-right'] {

	@include breakpoint(mobile-only) {

	    .res-content.responsive-block {
            position: fixed;
            right:0;
            top:0;

            &.show {
				visibility:visible;
           }
        }

    }
}


/*
[data-responsive-position='fixed right'] {

	.res-content.responsive-block {


		.desktop & {
			display: none;
		}

	    :not(.show) {
            @include responsive-transform;
	    }
			
		&.show {
			display: initial;
			position: fixed;
			width: var(--responsive-width);
			height: 100%;
			top:0;
			right:0;
			z-index: 999;		
		}
	
		@include breakpoint(mobile-only) {
			opacity: 0;
			display: initial;
		}
	}

}

*/

@mixin menucan-responsive {

    height: auto;
    --menu-width: 100%;
    --background: var(--c-d);

    .g-goback { display: none; }

	.toplevel {
		flex-flow:column nowrap !important;
		height: auto !important;
		width: 100% !important;
	}

    li { 
	    width: 100% !important;
	    height: auto !important; 
        border-top: 1px solid var(--shade1);

        a { padding: .5rem 1rem; height: auto; }       
        
        .dropdown-menu  {
        	width: 100% !important;
        	position: relative !important;
            a { 
                padding: .5rem 1rem .5rem 2rem !important; 
                height: auto; 
            } 
        }
	
    }

    li:hover {
        .dropdown-menu  {
            display:none;
        }    	
    }

    .menu-parent-indicator:hover  {
        @include touch-alike
    }

}

.menucan {

    &.responsive {
        @include menucan-responsive;
    }
    
    @include breakpoint(mobile-only) {
        @include menucan-responsive;
    }    

}


.res-ctl {

    &:hover {
        text-shadow: 0 0 3px #000;
        box-shadow: none;
        border:none;
    }

	display: none;
	background: transparent;
	border: none;
	outline: none;
	color: var(--t);
	font-size: calc(var(--ctl-height) / 2);
    width: var(--ctl-width);	
    height: 100%;
	
	.desktop & {
		display: initial;
	}
	
	@include breakpoint(mobile-only) {
		display: initial;
	}
}
