.embose {
	background-image: linear-gradient(0deg, #0006 15%, transparent 95%, #fff4);
}

.grad-h {
	background-image: linear-gradient(-70deg, #0006, transparent);
}

.grad-v {
	background-image: linear-gradient(0deg, #0006, transparent);
}

.radial-w {
	background-image: radial-gradient(circle, #fff6 0%, transparent 100%);
}

.radial-b {
	background-image: radial-gradient(circle, #0006 0%, transparent 100%);
}