$tones: (
	d4:-5, d3:-4, d2:-3, d1:-2, d:-1,
	l:1, l1:2, l2:3, l3:4, l4:5
);

[class*='ncc-'],
.hsl-pal,
.hsl-pal {

	/* monochromatic */

	@each $name,$s in $tones {
		$m: var(--uf);
		@if ($s < 0) { $m: var(--df); }
		--c-#{$name}: #{unquote('hsl(var(--h), var(--s), calc(var(--l) + (#{$s} * #{$m})))')};
	}

	/* analogus */

	--c-a1: #{unquote('hsl(calc(var(--h) + 30), var(--s), var(--l))')};
	--c-a2: #{unquote('hsl(calc(var(--h) - 30), var(--s), var(--l))')};

	/* complement/compound */

	--c-c0: #{unquote('hsl(calc(var(--h) + 180), var(--s), var(--l))')};
	--c-c1: #{unquote('hsl(calc(var(--h) + 210), var(--s), var(--l))')};
	--c-c2: #{unquote('hsl(calc(var(--h) + 150), var(--s), var(--l))')};

	/* triadic */

	--c-t1: #{unquote('hsl(calc(var(--h) + 120), var(--s), var(--l))')};
	--c-t2: #{unquote('hsl(calc(var(--h) - 120), var(--s), var(--l))')};

	/* custome */

	--c-ac: #{unquote('hsla(calc(var(--h) + 180), var(--s), var(--l), .2)')};
	--c-ho: #{unquote('hsla(calc(var(--h) + 180), var(--s), var(--l), .4)')};

}

.auto-text-color {
	color: var(--text, var(--t));
}

.bg-b { background-color: var(--b); }
.bg-w { background-color: var(--w); }
.bg-d { background-color: var(--c-d); }
.bg-d1 { background-color: var(--c-d1); }
.bg-d2 { background-color: var(--c-d2); }
.bg-d3 { background-color: var(--c-d3); }
.bg-d4 { background-color: var(--c-d4); }
.bg-n { background-color: var(--c); }
.bg-l { background-color: var(--c-l); }
.bg-l1 { background-color: var(--c-l1); }
.bg-l2 { background-color: var(--c-l2); }
.bg-l3 { background-color: var(--c-l3); }
.bg-l4 { background-color: var(--c-l4); }
.bg-c0 { background-color: var(--c-c0); }
.bg-c1 { background-color: var(--c-c1); }
.bg-c2 { background-color: var(--c-c2); }
.bg-a1 { background-color: var(--c-a1); }
.bg-a2 { background-color: var(--c-a2); }
.bg-t1 { background-color: var(--c-t1); }
.bg-t2 { background-color: var(--c-t2); }

.bg { background: var(--c); color: var(--t); }

.fg-b { color: var(--b); }
.fg-w { color: var(--w); }
.fg-d { color: var(--c-d); }
.fg-d1 { color: var(--c-d1); }
.fg-d2 { color: var(--c-d2); }
.fg-d3 { color: var(--c-d3); }
.fg-d4 { color: var(--c-d4); }
.fg-n { color: var(--c); }
.fg-l { color: var(--c-l); }
.fg-l1 { color: var(--c-l1); }
.fg-l2 { color: var(--c-l2); }
.fg-l3 { color: var(--c-l3); }
.fg-l4 { color: var(--c-l4); }
.fg-c { color: var(--c-c); }
.fg-c0 { color: var(--c-c0); }
.fg-c1 { color: var(--c-c1); }
.fg-c2 { color: var(--c-c2); }
.fg-t1 { color: var(--c-t1); }
.fg-t2 { color: var(--c-t2); }
.fg-a1 { color: var(--c-a1); }
.fg-a2 { color: var(--c-a2); }
.fg-ac { color: var(--c-ac); }
.fg-ho { color: var(--c-ho); }