
.g-container {

	margin: 0 auto;

	width: $breakpoints-large-desktop-container;

	@include breakpoint(desktop-range) {
		width: $breakpoints-desktop-container;
	}
	@include breakpoint(tablet-range) {
		width: $breakpoints-tablet-container;
	}
	@include breakpoint(large-mobile-range) {
		//width: $breakpoints-large-mobile-container;
		width: 100%;
	}
	@include breakpoint(small-mobile-range) {
		//width: $breakpoints-mobile-container;
		width: 100%;
	}

	&.layout-0 { width: 100%; }
	&.layout-1 {
		width: 100%;

		@include breakpoint(large-desktop-range) {
			padding: 0 calc((100% - #{$breakpoints-large-desktop-container}) / 2);
		}

		@include breakpoint(desktop-range) {
			padding: 0 calc((100% - #{$breakpoints-desktop-container}) / 2);
		}

	}
	&.layout-2 {
		margin: 0;
	}
}

.g-block .g-container {
	width: auto;
}