/* ---
 * neocatema/function
 */
/* ---
 * neocatema/mixin
 */
/* ---
 * neocatema/common
 */
/* ---
 * neocatema/configuration
 */
/* grav dependecy on workspace */
.color-chart {
  width: 20%;
  padding-right: 2em;
  display: flex;
  flex-direction: column; }
  .color-chart.row {
    flex-direction: row;
    width: 100%; }
    .color-chart.row > div {
      width: 15%; }

.color-preview {
  width: 85%; }

.label {
  margin: 1rem 0;
  font-weight: 300;
  color: #909;
  text-transform: lowercase;
  font-family: var(--font-mono); }

.dark-scheme .label {
  color: #6d6; }

.boxcolor,
input[type="color"] {
  height: 2.5rem;
  position: relative;
  width: 100%;
  padding: 0 !important; }

.boxcolor:after, .boxcolor:before,
input[type="color"]:after,
input[type="color"]:before {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  font-family: var(--font-mono);
  width: 72px;
  display: block;
  font-size: .85rem; }

.boxcolor:before,
input[type="color"]:before {
  top: .5rem;
  left: .5rem;
  content: attr(data-color);
  font-weight: bold; }

.boxcolor:after,
input[type="color"]:after {
  bottom: .25rem;
  right: .5rem;
  text-align: right;
  content: attr(data-value); }

input[type="color" i]::-webkit-color-swatch-wrapper,
input[type="color" i]::-webkit-color-swatch {
  padding: 0;
  border: none;
  cursor: pointer; }

.nc-icon {
  display: flex;
  flex: 0 0 10%;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 1rem;
  border: 1px solid var(--border2);
  padding: .5rem; }
  .nc-icon i {
    font-size: 3rem;
    margin-bottom: 1rem; }
  .nc-icon input {
    font-size: .7rem;
    display: block;
    width: 100%;
    margin-bottom: .5rem;
    text-align: center; }
  .nc-icon span {
    font-size: .8rem;
    color: var(--accent); }

.dummy-reset {
  display: flex; }
  .dummy-reset [role="navigation"] {
    margin-right: 2rem; }
  .dummy-reset footer p {
    text-align: right; }

.theme-dummy {
  display: flex; }
  .theme-dummy .td-menu {
    width: 25%;
    flex-basis: 25%; }
  .theme-dummy .td-content {
    width: 75%;
    flex-basis: 75%;
    display: block; }

.debug {
  --shade: #dee;
  --border: var(--background);
  --surface: #369;
  --text: var(--background); }
  .debug div {
    background: var(--shade);
    border: 2px solid var(--border); }
  .debug span {
    background: var(--surface);
    display: block;
    color: var(--text);
    text-align: center; }

.dark-scheme .debug {
  --shade: #333;
  --border: var(--background);
  --surface: #9cc;
  --text: var(--background); }

.example {
  position: relative;
  transition: all 1s ease-in-out; }

textarea.example {
  width: 100%;
  min-height: 8rem;
  font-size: 1em;
  line-height: 1.2; }
  textarea.example::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem; }
  textarea.example::-webkit-scrollbar-thumb {
    background: #fff3;
    border: 1px outset #0006;
    border-top: 1px outset #0003;
    border-left: 1px outset #0003;
    border-radius: .25rem; }
  textarea.example::-webkit-scrollbar-track {
    box-shadow: inset -1px 0 3px #0009;
    background: #0006; }
  textarea.example::-webkit-scrollbar-thumb:hover {
    background: #fffd;
    box-shadow: 0 2px 6px #0005; }
  textarea.example {
    scrollbar-face-color: #fff3;
    scrollbar-track-color: #0006; }

.flex.spaced {
  flex-wrap: wrap; }
  .flex.spaced .span-col {
    height: calc(5rem + 2px); }
  .flex.spaced .spaced {
    width: 80%; }
  .flex.spaced > div {
    margin: 1px;
    width: calc((100% / 6) - 2px); }

/*# sourceMappingURL=ncc-doc.css.map */
