{% set boxed = segment.attributes.boxed ? segment.attributes.boxed : gantry.config.page.body.layout.sections %}

{% set options = {
    'gsize': ( segment.attributes.disable_sizes ? false : true ),
    'ggrid': (segment.attributes.disable_grid ? false : true ),
    'gcontent': (segment.attributes.disable_gcontent ? false : true )
    }
%}

{%- set c_array = ['g-container'] -%}
{%- set c_array = c_array| merge(segment.attributes.class|split(' ')) -%}
{%- set c_array = c_array| merge(['layout-'~boxed]) -%}

{% set class = stringken(c_array) %}

{% set html %}
    {% if segment.children %}
        {%- for segment in segment.children -%}
            {% include 'layout/'~segment.type~'.html.twig' with {'segment':segment,'options': options} %}
        {% endfor %}
    {% endif %}
{% endset %}


{% if html|trim %}
    <div class="{{class}}">
        {{ html|raw }}
    </div>
{% endif %}