<div class='example'>
<div class='flex column center center radial-w pa-600 ncc-surface bg-d3 big mb-200 auto-text-color'>
<h1 class='text-shadow'>Neocà</h1>
<p class='text-shadow-2'>Neocà helps you creating website/apps.</p>
</div>
</div>

<h3 class='mt-200 text-glow'>Utility First</h3>

<p>Neocà.css is utility-first CSS framework which provides a bunch of classes you can apply to your projects to rapidly build a UI.</p>

<h3>Atomic Readable!</h3>

<p>Utility classes are CSS class names that serve one particular purpose, and are named as such. Typically a class like .ncc-blue would give you background-color: blue, for example. It’s not uncommon to use utility classes within CSS, but on the whole they tend to be used sparingly.</p>

<div class='example'>
	<div class='ncc-error bg-l auto-text-color pa-50 size-50'><span class='fg-d2'>red</span> is always <span class='fg-l2'>red</span></div>
</div>


<p>Reusable</p>

<h3>Color Pallete</h3>

<p>Define your own Colors</p>

<div class='example'>
	<button class='blue auto-text-color px-100 py-50 grad-v'><i class='ncico-download'></i> Action Button</button>
</div>

<h3>Themed UI<h3>

<p>We shorted the learning curve!</p>

<div class='example'>
	<div class='ncc-surface bg-l3 flex row middle'>
	<div class='pa-100 pr-0'>
		<img class='bullet bordered framed' src="//placekitten.com/160/160" alt="Image alt text">
	</div>
	<div class='grow pa-200'>
		<p class='border-b mt-200 bw-3 h2 fw-light mb-100'>Border and Titles</p>
		<p>{{randomwords(10)}}</p>
	</div>
	</div>
</div>


