<h2 class='border-b mb-100 fw-light'>neoca</h2>

<h3>Utility First!</h3>
<h3>Readable!</h3>
<h3>Color Pallete</h3>
<h3>Markdown Common</h3>
<h3>Reusable</h3>
<h3>Themed UI<h3>

<h2>Try it!</h2>
<div class='flex row my-100 top'>
<div class='half pr-100'>

	<div class='example'>
	<p class='border-b bw-3 h2 fw-light mb-100'>Border and Titles</p>
	</div>
	
	<div class='example'>
	<div class='ncc-accent'>
	<div class='bg-d3 auto-text-color pa-200 center big rounded radial-w'>
	<div class='h1 ncc-accent fg-w'>What About</div>
	<p>A paragraph is block of text</p>
	<p><button class='px-200 py-100'>Button</button></p>
	</div>
	</div>
	</div>	

</div>
<div class='half pl-100'>

	<div class='example'>
		<div class='ncc-error bg-l auto-text-color pa-50 size-33-3'><span class='fg-d2'>red</span> is always <span class='fg-l2'>red</span></div>
	</div>
	
	<div class='example'>
		<img class='bullet bordered framed' src="//placekitten.com/160/160" alt="Image alt text">
	</div>
	
	<div class='example'>
		<button class='blue auto-text-color px-100 py-50 grad-v'><i class='ncico-download'></i> Action Button</button>
	</div>

</div>
</div>

<div class='flex row my-100 top'>
<div class='half pr-100'>



</div>
<div class='half pl-100'>



</div>
</div>




