<div class='example'>
<div class='flex column center center radial-w pa-600 ncc-surface bg-d3 big mb-200 auto-text-color'>
<h1 class='text-shadow'>Neoca</h1>
<p class='text-shadow-2'>Neoca helps you creating website/apps.</p>
</div>
</div>

<h3 class='mt-200 text-glow'>Utility First</h3>

<p>Neoca.css is utility-first CSS framework which provides a bunch of classes you can apply to your projects to rapidly build a UI.</p>

<h3>Atomic Readable!</h3>

<p>Utility classes are CSS class names that serve one particular purpose, and are named as such. Typically a class like .ncc-blue would give you background-color: blue, for example. It’s not uncommon to use utility classes within CSS, but on the whole they tend to be used sparingly.</p>

<p>Reusable</p>

<h3>Color Pallete</h3>

<p>Define your own Colors</p>

<h3>Themed UI<h3>


<p>We shorted the learning curve!</p>
