<h2 class='border-b mb-100 fw-light'>Surface Colour</h2>

<div class='flex top'>

<div class='color-chart'>
<div class='label mt-0'>surface</div>
	<div><div class='boxcolor auto-text-color ncc-surface bg-b' data-color='b'></div></div>
	<div><div class='boxcolor auto-text-color ncc-surface bg-d3' data-color='d3'></div></div>
	<div><div class='boxcolor auto-text-color ncc-surface bg-d2' data-color='d2'></div></div>
	<div><div class='boxcolor auto-text-color ncc-surface bg-d1' data-color='d1'></div></div>
	<div><div class='boxcolor auto-text-color ncc-surface bg-d' data-color='d'></div></div>
	<div><div class='boxcolor auto-text-color ncc-surface bg' data-color='n'></div></div>
	<div><div class='boxcolor auto-text-color ncc-surface bg-l' data-color='l'></div></div>
	<div><div class='boxcolor auto-text-color ncc-surface bg-l1' data-color='l3'></div></div>
	<div><div class='boxcolor auto-text-color ncc-surface bg-l2' data-color='l2'></div></div>
	<div><div class='boxcolor auto-text-color ncc-surface bg-l3' data-color='l1'></div></div>
	<div><div class='boxcolor auto-text-color ncc-surface bg-w' data-color='w'></div></div>
</div>

<div class='color-preview'>

<h3>Markdown Flavored Element</h3>

<p><b>Surface Colors</b> ensure accessible text, and distinguish UI elements and surfaces from one another.</p>

<pre>&lt;?php
   $string = str_replace("world","Neoca","Hello world!"); 
   echo $string;
?></pre>

<table class='mt-200 stripes'>
		<thead>
			<tr>
				<th>Float</th>
				<th>Words</th>
				<th>Percentage</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			<td>1.0</td>
				<td>Full</td>
				<td>100%</td>
			</tr>
			<tr>
				<td>0.9</td>
				<td>Near Full</td>
				<td>90%</td>
			</tr>
			<tr>
				<td>0.5</td>
				<td>Half</td>
				<td>50%</td>
			</tr>
		</tbody>
	</table>

<div class='label'>Inline Elements</div>

<p>Inline HTML element like <code>var(--x)</code>, and  <kbd>kbd</kbd> use surface colors.</p>

<p><button class="secondary py-50 px-100">Button Secondary</button></P>
	
<div class='label'>Combined</div>

<div class='flex top'>

<div class='third'>
<div class='ncc-surface bg-d3 auto-text-color'>
<div class='pa-300 center'>
<p><i style='font-size: 5rem;' class='ncico-css'></i></p>
<p>A paragraph is a block of text.</p>
</div>
</div>
</div>

<div class='third pr-100 pl-100'>
<div border class='ncc-surface bg-w auto-text-color  border'>
<div class='bg-d2 fg-w'><i class='ma-100 ncico-menu'></i></div>
<div class='py-200 px-100'>
<h4>What About</h4>
<p>A paragraph always starts on a new line, and is usually a block of text.</p>
<p><button class='ncc-button bg'>Button</button></p>
</div>
</div>
</div>

<div class='third'>
<div class='ncc-surface bg-l2 auto-text-color'>
<div class='pt-400 pr-100 pl-100 pb-200'>
<h1 class='ncc-accent fg-d2'>Accented</h4>
<p>A paragraph always starts on a new line, and is usually a block of text.</p>
</div>
<div class='bg-d3 center auto-text-color'><i class='ma-100 ncico-more-horizontal'></i></div>
</div>
</div>

</div>

</div><!--eof preview -->

</div>