<h2 class='border-b mb-100 fw-light'>Inline Elements</h2>
<div class='flex'>

<div class='shrink'>

<table class='row-stripes spaced compact '>
<tr><td>abbr</td><td><abbr title='abbreviation'>abbr</abbr></td></td></tr>
<tr><td>b</td><td><b>b</b></td></td></tr>
<tr><td>bdo</td><td><bdo>bdo</bdo></td></td></tr>
<tr><td>big</td><td><big>big</big></td></td></tr>
<tr><td>button</td><td><button>button</button></td></td></tr>
<tr><td>cite</td><td><cite>cite</cite></td></td></tr>
<tr><td>code</td><td><code>code</code></td></td></tr>
<tr><td>dfn</td><td><dfn title='define'>dfn</dfn></td></td></tr>
<tr><td>em</td><td><em>em</em></td></td></tr>
<tr><td>i</td><td><i>i</i></td></td></tr>
<tr><td>kbd</td><td><kbd>kbd</kbd></td></td></tr>
<tr><td>output</td><td><output>output</output></td></td></tr>
<tr><td>q</td><td><q>quotes</q></td></td></tr>
<tr><td>samp</td><td><samp>samp</samp></td></td></tr>
<tr><td>small</td><td><small>small</small></td></td></tr>
<tr><td>strong</td><td><strong>strong</strong></td></td></tr>
<tr><td>sub</td><td><sub>sub</sub></td></td></tr>
<tr><td>sup</td><td><sup>sup</sup></td></td></tr>
<tr><td>tt</td><td><tt>tt</tt></td></td></tr>
<tr><td>var</td><td><var>vars</var></td></tr>
</table>


</div>

<div class='grow mx-100'>

<h3>Markdown Flavored</h3>

<p>
<img src="//placekitten.com/120/200" alt="Image alt text" align='right'>
Metus dignissim id vivamus congue efficitur ut tincidunt suspendisse enim semper dictum sapien eleifend eu suscipit suspendisse lorem viverra nisi metus a <kbd>ctl-c</kbd> nec non lorem molestie <strong>strong</strong> porta morbi <b>bold</b> justo dignissim <i>italic</i> vehicula ante <em>vestibulum faucibus</em> ac a dignissim at <a href="page:inline">links</a> non ex arcu laoreet <abbr title="hyper text markup langugage">HTML</abbr> eu elit eget non dictum eu. <mark>Eget elit</mark> aliquam dignissim diam consectetur mauris vehicula <code>var(--text);</code> rhoncus commodo dictum molestie et morbi felis in metus amet period.</p>

<h4>Images inside paragraph</h4>
<p>
<img src="//placekitten.com/120/200" alt="Image alt text" align='left'>
{{randomwords(67)|capitalize}}
</p>

<p>
{{randomwords(17)|capitalize}}
</p>

<ul>
<li>Vitae ut felis congue magna</li>
<li>Sit praesent rhoncus suscipit aliquet
<ul>
<li>Molestie aliquam in tincidunt ut</li>
<li>Elit consectetur elit eu lectus</li>
</ul>
</li>
<li>Aenean congue vitae felis tincidunt</li>
</ul>

<ol>
<li>Turpis dolor amet viverra molestie</li>
<li>Tortor lorem mauris sit laoreet
<ol>
<li>A ante posuere et vivamus</li>
<li>Et dictum amet rhoncus lectus</li>
</ol>
</li>
<li>Ante nec scelerisque eget sit</li>
</ol>

</div>

</div>