<h2 class='border-b mb-100 fw-light'>Accent Colour</h2>

<div class='flex top'>

<div class='color-chart'>
<div class='label'>Yellow</div>
	<div><div class='boxcolor auto-text-color ncc-warning bg-b' data-color='b'></div></div>
	<div><div class='boxcolor auto-text-color ncc-warning bg-d3' data-color='d3'></div></div>
	<div><div class='boxcolor auto-text-color ncc-warning bg-d2' data-color='d2'></div></div>
	<div><div class='boxcolor auto-text-color ncc-warning bg-d1' data-color='d1'></div></div>
	<div><div class='boxcolor auto-text-color ncc-warning bg-d' data-color='d'></div></div>
	<div><div class='boxcolor auto-text-color ncc-warning bg' data-color='n'></div></div>
	<div><div class='boxcolor auto-text-color ncc-warning bg-l' data-color='l'></div></div>
	<div><div class='boxcolor auto-text-color ncc-warning bg-l1' data-color='l3'></div></div>
	<div><div class='boxcolor auto-text-color ncc-warning bg-l2' data-color='l2'></div></div>
	<div><div class='boxcolor auto-text-color ncc-warning bg-l3' data-color='l1'></div></div>
	<div><div class='boxcolor auto-text-color ncc-warning bg-w' data-color='w'></div></div>
</div>

<div class='color-chart'>
<div class='label'>Red</div>
	<div><div class='boxcolor auto-text-color ncc-error bg-b' data-color='b'></div></div>
	<div><div class='boxcolor auto-text-color ncc-error bg-d3' data-color='d3'></div></div>
	<div><div class='boxcolor auto-text-color ncc-error bg-d2' data-color='d2'></div></div>
	<div><div class='boxcolor auto-text-color ncc-error bg-d1' data-color='d1'></div></div>
	<div><div class='boxcolor auto-text-color ncc-error bg-d' data-color='d'></div></div>
	<div><div class='boxcolor auto-text-color ncc-error bg' data-color='n'></div></div>
	<div><div class='boxcolor auto-text-color ncc-error bg-l' data-color='l'></div></div>
	<div><div class='boxcolor auto-text-color ncc-error bg-l1' data-color='l3'></div></div>
	<div><div class='boxcolor auto-text-color ncc-error bg-l2' data-color='l2'></div></div>
	<div><div class='boxcolor auto-text-color ncc-error bg-l3' data-color='l1'></div></div>
	<div><div class='boxcolor auto-text-color ncc-error bg-w' data-color='w'></div></div>
</div>

<div class='color-chart'>
<div class='label'>Blue</div>
	<div><div class='boxcolor auto-text-color ncc-info bg-b' data-color='b'></div></div>
	<div><div class='boxcolor auto-text-color ncc-info bg-d3' data-color='d3'></div></div>
	<div><div class='boxcolor auto-text-color ncc-info bg-d2' data-color='d2'></div></div>
	<div><div class='boxcolor auto-text-color ncc-info bg-d1' data-color='d1'></div></div>
	<div><div class='boxcolor auto-text-color ncc-info bg-d' data-color='d'></div></div>
	<div><div class='boxcolor auto-text-color ncc-info bg' data-color='n'></div></div>
	<div><div class='boxcolor auto-text-color ncc-info bg-l' data-color='l'></div></div>
	<div><div class='boxcolor auto-text-color ncc-info bg-l1' data-color='l3'></div></div>
	<div><div class='boxcolor auto-text-color ncc-info bg-l2' data-color='l2'></div></div>
	<div><div class='boxcolor auto-text-color ncc-info bg-l3' data-color='l1'></div></div>
	<div><div class='boxcolor auto-text-color ncc-info bg-w' data-color='w'></div></div>
</div>

<div class='color-chart ncc-success'>
<div class='label'>Green</div>
	<div><div class='boxcolor auto-text-color bg-b' data-color='b'></div></div>
	<div><div class='boxcolor auto-text-color ncc-success bg-d3' data-color='d3'></div></div>
	<div><div class='boxcolor auto-text-color ncc-success bg-d2' data-color='d2'></div></div>
	<div><div class='boxcolor auto-text-color ncc-success bg-d1' data-color='d1'></div></div>
	<div><div class='boxcolor auto-text-color ncc-success bg-d' data-color='d'></div></div>
	<div><div class='boxcolor auto-text-color ncc-success bg' data-color='n'></div></div>
	<div><div class='boxcolor auto-text-color ncc-success bg-l' data-color='l'></div></div>
	<div><div class='boxcolor auto-text-color ncc-success bg-l1' data-color='l3'></div></div>
	<div><div class='boxcolor auto-text-color ncc-success bg-l2' data-color='l2'></div></div>
	<div><div class='boxcolor auto-text-color ncc-success bg-l3' data-color='l1'></div></div>
	<div><div class='boxcolor auto-text-color ncc-success bg-w' data-color='w'></div></div>
</div>

</div>

<h3 class='mt-200'>Custome Color</h3>

<div class='example'>
<div class='color-chart hsl-pal row' style='--color: #c2b;'>
	<div><div class='boxcolor auto-text-color bg-b' data-color='b'></div></div>
	<div><div class='boxcolor auto-text-color bg-d3' data-color='d3'></div></div>
	<div><div class='boxcolor auto-text-color bg-d2' data-color='d2'></div></div>
	<div><div class='boxcolor auto-text-color bg-d1' data-color='d1'></div></div>
	<div><div class='boxcolor auto-text-color bg-d' data-color='d'></div></div>
	<div><div class='boxcolor auto-text-color bg' data-color='n'></div></div>
	<div><div class='boxcolor auto-text-color bg-l' data-color='l'></div></div>
	<div><div class='boxcolor auto-text-color bg-l1' data-color='l3'></div></div>
	<div><div class='boxcolor auto-text-color bg-l2' data-color='l2'></div></div>
	<div><div class='boxcolor auto-text-color bg-l3' data-color='l1'></div></div>
	<div><div class='boxcolor auto-text-color bg-w' data-color='w'></div></div>
</div>
</div>

<div class='label'>constructed stylesheet</div>

<p>Change CSS custom properties on the fly for specific element / DOM subtrees.</p>



