<h2 class='border-b mb-100 fw-light'>Colour Theory</h2>

<h3>Monochromatic</h3>
Monochromatic color schemes are easy to create because they use only one color.

Monochromatic schemes use different tones from the same angle on the color wheel (the same hue).

<h3>Analogous</h3>
Analogous color schemes are created by using colors that are next to each other on the color wheel.

<h3>Complementary</h3>
Complementary schemes are created by combining colors from opposite sides of the color wheel.


<h3>Compound</h3>
Compound schemes (aka Split Complementary) are almost the same as complementary schemes.

Instead of using colors that are opposites, it uses colors on both sides of the opposite hue

<h3>Triadic </h3>
Triadic schemes are made up of hues equally spaced around the color wheel.

