<h2 class='bd-b-solid-shade2 mb-100 fw-light'>Font Awesome</h2>

<div class='flex easy nc-index'>
<div class='nc-icon'><i class='fa fa-500px'></i><input type='text' value='.fa-500px'></div>
<div class='nc-icon'><i class='fa fa-address-book'></i><input type='text' value='.fa-address-book'></div>
<div class='nc-icon'><i class='fa fa-address-book-o'></i><input type='text' value='.fa-address-book-o'></div>
<div class='nc-icon'><i class='fa fa-adjust'></i><input type='text' value='.fa-adjust'></div>
<div class='nc-icon'><i class='fa fa-adn'></i><input type='text' value='.fa-adn'></div>
<div class='nc-icon'><i class='fa fa-align-center'></i><input type='text' value='.fa-align-center'></div>
<div class='nc-icon'><i class='fa fa-align-justify'></i><input type='text' value='.fa-align-justify'></div>
<div class='nc-icon'><i class='fa fa-align-left'></i><input type='text' value='.fa-align-left'></div>
<div class='nc-icon'><i class='fa fa-align-right'></i><input type='text' value='.fa-align-right'></div>
<div class='nc-icon'><i class='fa fa-amazon'></i><input type='text' value='.fa-amazon'></div>
<div class='nc-icon'><i class='fa fa-ambulance'></i><input type='text' value='.fa-ambulance'></div>
<div class='nc-icon'><i class='fa fa-anchor'></i><input type='text' value='.fa-anchor'></div>
<div class='nc-icon'><i class='fa fa-android'></i><input type='text' value='.fa-android'></div>
<div class='nc-icon'><i class='fa fa-angellist'></i><input type='text' value='.fa-angellist'></div>
<div class='nc-icon'><i class='fa fa-angle-double-down'></i><input type='text' value='.fa-angle-double-down'></div>
<div class='nc-icon'><i class='fa fa-angle-double-left'></i><input type='text' value='.fa-angle-double-left'></div>
<div class='nc-icon'><i class='fa fa-angle-double-right'></i><input type='text' value='.fa-angle-double-right'></div>
<div class='nc-icon'><i class='fa fa-angle-double-up'></i><input type='text' value='.fa-angle-double-up'></div>
<div class='nc-icon'><i class='fa fa-angle-down'></i><input type='text' value='.fa-angle-down'></div>
<div class='nc-icon'><i class='fa fa-angle-left'></i><input type='text' value='.fa-angle-left'></div>
<div class='nc-icon'><i class='fa fa-angle-right'></i><input type='text' value='.fa-angle-right'></div>
<div class='nc-icon'><i class='fa fa-angle-up'></i><input type='text' value='.fa-angle-up'></div>
<div class='nc-icon'><i class='fa fa-apple'></i><input type='text' value='.fa-apple'></div>
<div class='nc-icon'><i class='fa fa-archive'></i><input type='text' value='.fa-archive'></div>
<div class='nc-icon'><i class='fa fa-area-chart'></i><input type='text' value='.fa-area-chart'></div>
<div class='nc-icon'><i class='fa fa-arrow-circle-down'></i><input type='text' value='.fa-arrow-circle-down'></div>
<div class='nc-icon'><i class='fa fa-arrow-circle-left'></i><input type='text' value='.fa-arrow-circle-left'></div>
<div class='nc-icon'><i class='fa fa-arrow-circle-o-down'></i><input type='text' value='.fa-arrow-circle-o-down'></div>
<div class='nc-icon'><i class='fa fa-arrow-circle-o-left'></i><input type='text' value='.fa-arrow-circle-o-left'></div>
<div class='nc-icon'><i class='fa fa-arrow-circle-o-right'></i><input type='text' value='.fa-arrow-circle-o-right'></div>
<div class='nc-icon'><i class='fa fa-arrow-circle-o-up'></i><input type='text' value='.fa-arrow-circle-o-up'></div>
<div class='nc-icon'><i class='fa fa-arrow-circle-right'></i><input type='text' value='.fa-arrow-circle-right'></div>
<div class='nc-icon'><i class='fa fa-arrow-circle-up'></i><input type='text' value='.fa-arrow-circle-up'></div>
<div class='nc-icon'><i class='fa fa-arrow-down'></i><input type='text' value='.fa-arrow-down'></div>
<div class='nc-icon'><i class='fa fa-arrow-left'></i><input type='text' value='.fa-arrow-left'></div>
<div class='nc-icon'><i class='fa fa-arrow-right'></i><input type='text' value='.fa-arrow-right'></div>
<div class='nc-icon'><i class='fa fa-arrow-up'></i><input type='text' value='.fa-arrow-up'></div>
<div class='nc-icon'><i class='fa fa-arrows'></i><input type='text' value='.fa-arrows'></div>
<div class='nc-icon'><i class='fa fa-arrows-alt'></i><input type='text' value='.fa-arrows-alt'></div>
<div class='nc-icon'><i class='fa fa-arrows-h'></i><input type='text' value='.fa-arrows-h'></div>
<div class='nc-icon'><i class='fa fa-arrows-v'></i><input type='text' value='.fa-arrows-v'></div>
<div class='nc-icon'><i class='fa fa-asl-interpreting'></i><input type='text' value='.fa-asl-interpreting'></div>
<div class='nc-icon'><i class='fa fa-assistive-listening-systems'></i><input type='text' value='.fa-assistive-listening-systems'></div>
<div class='nc-icon'><i class='fa fa-asterisk'></i><input type='text' value='.fa-asterisk'></div>
<div class='nc-icon'><i class='fa fa-at'></i><input type='text' value='.fa-at'></div>
<div class='nc-icon'><i class='fa fa-audio-description'></i><input type='text' value='.fa-audio-description'></div>
<div class='nc-icon'><i class='fa fa-automobile'></i><input type='text' value='.fa-automobile'></div>
<div class='nc-icon'><i class='fa fa-backward'></i><input type='text' value='.fa-backward'></div>
<div class='nc-icon'><i class='fa fa-balance-scale'></i><input type='text' value='.fa-balance-scale'></div>
<div class='nc-icon'><i class='fa fa-ban'></i><input type='text' value='.fa-ban'></div>
<div class='nc-icon'><i class='fa fa-bandcamp'></i><input type='text' value='.fa-bandcamp'></div>
<div class='nc-icon'><i class='fa fa-bar-chart'></i><input type='text' value='.fa-bar-chart-o'></div>
<div class='nc-icon'><i class='fa fa-bar-chart'></i><input type='text' value='.fa-bar-chart'></div>
<div class='nc-icon'><i class='fa fa-barcode'></i><input type='text' value='.fa-barcode'></div>
<div class='nc-icon'><i class='fa fa-bathtub'></i><input type='text' value='.fa-bathtub'></div>
<div class='nc-icon'><i class='fa fa-battery-0'></i><input type='text' value='.fa-battery-0'></div>
<div class='nc-icon'><i class='fa fa-battery-1'></i><input type='text' value='.fa-battery-1'></div>
<div class='nc-icon'><i class='fa fa-battery-2'></i><input type='text' value='.fa-battery-2'></div>
<div class='nc-icon'><i class='fa fa-battery-3'></i><input type='text' value='.fa-battery-3'></div>
<div class='nc-icon'><i class='fa fa-battery-4'></i><input type='text' value='.fa-battery-4'></div>
<div class='nc-icon'><i class='fa fa-beer'></i><input type='text' value='.fa-beer'></div>
<div class='nc-icon'><i class='fa fa-behance'></i><input type='text' value='.fa-behance'></div>
<div class='nc-icon'><i class='fa fa-behance-square'></i><input type='text' value='.fa-behance-square'></div>
<div class='nc-icon'><i class='fa fa-bell'></i><input type='text' value='.fa-bell'></div>
<div class='nc-icon'><i class='fa fa-bell-o'></i><input type='text' value='.fa-bell-o'></div>
<div class='nc-icon'><i class='fa fa-bell-slash'></i><input type='text' value='.fa-bell-slash'></div>
<div class='nc-icon'><i class='fa fa-bell-slash-o'></i><input type='text' value='.fa-bell-slash-o'></div>
<div class='nc-icon'><i class='fa fa-bicycle'></i><input type='text' value='.fa-bicycle'></div>
<div class='nc-icon'><i class='fa fa-binoculars'></i><input type='text' value='.fa-binoculars'></div>
<div class='nc-icon'><i class='fa fa-birthday-cake'></i><input type='text' value='.fa-birthday-cake'></div>
<div class='nc-icon'><i class='fa fa-bitbucket'></i><input type='text' value='.fa-bitbucket'></div>
<div class='nc-icon'><i class='fa fa-bitbucket-square'></i><input type='text' value='.fa-bitbucket-square'></div>
<div class='nc-icon'><i class='fa fa-bitcoin'></i><input type='text' value='.fa-bitcoin'></div>
<div class='nc-icon'><i class='fa fa-black-tie'></i><input type='text' value='.fa-black-tie'></div>
<div class='nc-icon'><i class='fa fa-blind'></i><input type='text' value='.fa-blind'></div>
<div class='nc-icon'><i class='fa fa-bluetooth'></i><input type='text' value='.fa-bluetooth'></div>
<div class='nc-icon'><i class='fa fa-bluetooth-b'></i><input type='text' value='.fa-bluetooth-b'></div>
<div class='nc-icon'><i class='fa fa-bold'></i><input type='text' value='.fa-bold'></div>
<div class='nc-icon'><i class='fa fa-bomb'></i><input type='text' value='.fa-bomb'></div>
<div class='nc-icon'><i class='fa fa-book'></i><input type='text' value='.fa-book'></div>
<div class='nc-icon'><i class='fa fa-bookmark'></i><input type='text' value='.fa-bookmark'></div>
<div class='nc-icon'><i class='fa fa-bookmark-o'></i><input type='text' value='.fa-bookmark-o'></div>
<div class='nc-icon'><i class='fa fa-braille'></i><input type='text' value='.fa-braille'></div>
<div class='nc-icon'><i class='fa fa-briefcase'></i><input type='text' value='.fa-briefcase'></div>
<div class='nc-icon'><i class='fa fa-bug'></i><input type='text' value='.fa-bug'></div>
<div class='nc-icon'><i class='fa fa-building'></i><input type='text' value='.fa-building'></div>
<div class='nc-icon'><i class='fa fa-building-o'></i><input type='text' value='.fa-building-o'></div>
<div class='nc-icon'><i class='fa fa-bullhorn'></i><input type='text' value='.fa-bullhorn'></div>
<div class='nc-icon'><i class='fa fa-bullseye'></i><input type='text' value='.fa-bullseye'></div>
<div class='nc-icon'><i class='fa fa-bus'></i><input type='text' value='.fa-bus'></div>
<div class='nc-icon'><i class='fa fa-buysellads'></i><input type='text' value='.fa-buysellads'></div>
<div class='nc-icon'><i class='fa fa-cab'></i><input type='text' value='.fa-cab'></div>
<div class='nc-icon'><i class='fa fa-calculator'></i><input type='text' value='.fa-calculator'></div>
<div class='nc-icon'><i class='fa fa-calendar'></i><input type='text' value='.fa-calendar'></div>
<div class='nc-icon'><i class='fa fa-calendar-check-o'></i><input type='text' value='.fa-calendar-check-o'></div>
<div class='nc-icon'><i class='fa fa-calendar-minus-o'></i><input type='text' value='.fa-calendar-minus-o'></div>
<div class='nc-icon'><i class='fa fa-calendar-o'></i><input type='text' value='.fa-calendar-o'></div>
<div class='nc-icon'><i class='fa fa-calendar-plus-o'></i><input type='text' value='.fa-calendar-plus-o'></div>
<div class='nc-icon'><i class='fa fa-calendar-times-o'></i><input type='text' value='.fa-calendar-times-o'></div>
<div class='nc-icon'><i class='fa fa-camera'></i><input type='text' value='.fa-camera'></div>
<div class='nc-icon'><i class='fa fa-camera-retro'></i><input type='text' value='.fa-camera-retro'></div>
<div class='nc-icon'><i class='fa fa-caret-down'></i><input type='text' value='.fa-caret-down'></div>
<div class='nc-icon'><i class='fa fa-caret-left'></i><input type='text' value='.fa-caret-left'></div>
<div class='nc-icon'><i class='fa fa-caret-right'></i><input type='text' value='.fa-caret-right'></div>
<div class='nc-icon'><i class='fa fa-caret-up'></i><input type='text' value='.fa-caret-up'></div>
<div class='nc-icon'><i class='fa fa-cart-arrow-down'></i><input type='text' value='.fa-cart-arrow-down'></div>
<div class='nc-icon'><i class='fa fa-cart-plus'></i><input type='text' value='.fa-cart-plus'></div>
<div class='nc-icon'><i class='fa fa-cc'></i><input type='text' value='.fa-cc'></div>
<div class='nc-icon'><i class='fa fa-cc-amex'></i><input type='text' value='.fa-cc-amex'></div>
<div class='nc-icon'><i class='fa fa-cc-diners-club'></i><input type='text' value='.fa-cc-diners-club'></div>
<div class='nc-icon'><i class='fa fa-cc-discover'></i><input type='text' value='.fa-cc-discover'></div>
<div class='nc-icon'><i class='fa fa-cc-jcb'></i><input type='text' value='.fa-cc-jcb'></div>
<div class='nc-icon'><i class='fa fa-cc-mastercard'></i><input type='text' value='.fa-cc-mastercard'></div>
<div class='nc-icon'><i class='fa fa-cc-paypal'></i><input type='text' value='.fa-cc-paypal'></div>
<div class='nc-icon'><i class='fa fa-cc-stripe'></i><input type='text' value='.fa-cc-stripe'></div>
<div class='nc-icon'><i class='fa fa-cc-visa'></i><input type='text' value='.fa-cc-visa'></div>
<div class='nc-icon'><i class='fa fa-certificate'></i><input type='text' value='.fa-certificate'></div>
<div class='nc-icon'><i class='fa fa-chain'></i><input type='text' value='.fa-chain'></div>
<div class='nc-icon'><i class='fa fa-check'></i><input type='text' value='.fa-check'></div>
<div class='nc-icon'><i class='fa fa-check-circle'></i><input type='text' value='.fa-check-circle'></div>
<div class='nc-icon'><i class='fa fa-check-circle-o'></i><input type='text' value='.fa-check-circle-o'></div>
<div class='nc-icon'><i class='fa fa-check-square'></i><input type='text' value='.fa-check-square'></div>
<div class='nc-icon'><i class='fa fa-check-square-o'></i><input type='text' value='.fa-check-square-o'></div>
<div class='nc-icon'><i class='fa fa-chevron-circle-down'></i><input type='text' value='.fa-chevron-circle-down'></div>
<div class='nc-icon'><i class='fa fa-chevron-circle-left'></i><input type='text' value='.fa-chevron-circle-left'></div>
<div class='nc-icon'><i class='fa fa-chevron-circle-right'></i><input type='text' value='.fa-chevron-circle-right'></div>
<div class='nc-icon'><i class='fa fa-chevron-circle-up'></i><input type='text' value='.fa-chevron-circle-up'></div>
<div class='nc-icon'><i class='fa fa-chevron-down'></i><input type='text' value='.fa-chevron-down'></div>
<div class='nc-icon'><i class='fa fa-chevron-left'></i><input type='text' value='.fa-chevron-left'></div>
<div class='nc-icon'><i class='fa fa-chevron-right'></i><input type='text' value='.fa-chevron-right'></div>
<div class='nc-icon'><i class='fa fa-chevron-up'></i><input type='text' value='.fa-chevron-up'></div>
<div class='nc-icon'><i class='fa fa-child'></i><input type='text' value='.fa-child'></div>
<div class='nc-icon'><i class='fa fa-chrome'></i><input type='text' value='.fa-chrome'></div>
<div class='nc-icon'><i class='fa fa-circle'></i><input type='text' value='.fa-circle'></div>
<div class='nc-icon'><i class='fa fa-circle-o'></i><input type='text' value='.fa-circle-o'></div>
<div class='nc-icon'><i class='fa fa-circle-o-notch'></i><input type='text' value='.fa-circle-o-notch'></div>
<div class='nc-icon'><i class='fa fa-circle-thin'></i><input type='text' value='.fa-circle-thin'></div>
<div class='nc-icon'><i class='fa fa-clock-o'></i><input type='text' value='.fa-clock-o'></div>
<div class='nc-icon'><i class='fa fa-clone'></i><input type='text' value='.fa-clone'></div>
<div class='nc-icon'><i class='fa fa-cloud'></i><input type='text' value='.fa-cloud'></div>
<div class='nc-icon'><i class='fa fa-cloud-download'></i><input type='text' value='.fa-cloud-download'></div>
<div class='nc-icon'><i class='fa fa-cloud-upload'></i><input type='text' value='.fa-cloud-upload'></div>
<div class='nc-icon'><i class='fa fa-cny'></i><input type='text' value='.fa-cny'></div>
<div class='nc-icon'><i class='fa fa-code'></i><input type='text' value='.fa-code'></div>
<div class='nc-icon'><i class='fa fa-code-fork'></i><input type='text' value='.fa-code-fork'></div>
<div class='nc-icon'><i class='fa fa-codepen'></i><input type='text' value='.fa-codepen'></div>
<div class='nc-icon'><i class='fa fa-codiepie'></i><input type='text' value='.fa-codiepie'></div>
<div class='nc-icon'><i class='fa fa-coffee'></i><input type='text' value='.fa-coffee'></div>
<div class='nc-icon'><i class='fa fa-columns'></i><input type='text' value='.fa-columns'></div>
<div class='nc-icon'><i class='fa fa-comment'></i><input type='text' value='.fa-comment'></div>
<div class='nc-icon'><i class='fa fa-comment-o'></i><input type='text' value='.fa-comment-o'></div>
<div class='nc-icon'><i class='fa fa-commenting'></i><input type='text' value='.fa-commenting'></div>
<div class='nc-icon'><i class='fa fa-commenting-o'></i><input type='text' value='.fa-commenting-o'></div>
<div class='nc-icon'><i class='fa fa-comments'></i><input type='text' value='.fa-comments'></div>
<div class='nc-icon'><i class='fa fa-comments-o'></i><input type='text' value='.fa-comments-o'></div>
<div class='nc-icon'><i class='fa fa-compass'></i><input type='text' value='.fa-compass'></div>
<div class='nc-icon'><i class='fa fa-compress'></i><input type='text' value='.fa-compress'></div>
<div class='nc-icon'><i class='fa fa-connectdevelop'></i><input type='text' value='.fa-connectdevelop'></div>
<div class='nc-icon'><i class='fa fa-contao'></i><input type='text' value='.fa-contao'></div>
<div class='nc-icon'><i class='fa fa-copy'></i><input type='text' value='.fa-copy'></div>
<div class='nc-icon'><i class='fa fa-copyright'></i><input type='text' value='.fa-copyright'></div>
<div class='nc-icon'><i class='fa fa-creative-commons'></i><input type='text' value='.fa-creative-commons'></div>
<div class='nc-icon'><i class='fa fa-credit-card'></i><input type='text' value='.fa-credit-card'></div>
<div class='nc-icon'><i class='fa fa-credit-card-alt'></i><input type='text' value='.fa-credit-card-alt'></div>
<div class='nc-icon'><i class='fa fa-crop'></i><input type='text' value='.fa-crop'></div>
<div class='nc-icon'><i class='fa fa-crosshairs'></i><input type='text' value='.fa-crosshairs'></div>
<div class='nc-icon'><i class='fa fa-css3'></i><input type='text' value='.fa-css3'></div>
<div class='nc-icon'><i class='fa fa-cube'></i><input type='text' value='.fa-cube'></div>
<div class='nc-icon'><i class='fa fa-cubes'></i><input type='text' value='.fa-cubes'></div>
<div class='nc-icon'><i class='fa fa-cut'></i><input type='text' value='.fa-cut'></div>
<div class='nc-icon'><i class='fa fa-cutlery'></i><input type='text' value='.fa-cutlery'></div>
<div class='nc-icon'><i class='fa fa-dashboard'></i><input type='text' value='.fa-dashboard'></div>
<div class='nc-icon'><i class='fa fa-dashcube'></i><input type='text' value='.fa-dashcube'></div>
<div class='nc-icon'><i class='fa fa-database'></i><input type='text' value='.fa-database'></div>
<div class='nc-icon'><i class='fa fa-deafness'></i><input type='text' value='.fa-deafness'></div>
<div class='nc-icon'><i class='fa fa-dedent'></i><input type='text' value='.fa-dedent'></div>
<div class='nc-icon'><i class='fa fa-dedent'></i><input type='text' value='.fa-outdent'></div>
<div class='nc-icon'><i class='fa fa-delicious'></i><input type='text' value='.fa-delicious'></div>
<div class='nc-icon'><i class='fa fa-desktop'></i><input type='text' value='.fa-desktop'></div>
<div class='nc-icon'><i class='fa fa-deviantart'></i><input type='text' value='.fa-deviantart'></div>
<div class='nc-icon'><i class='fa fa-diamond'></i><input type='text' value='.fa-diamond'></div>
<div class='nc-icon'><i class='fa fa-digg'></i><input type='text' value='.fa-digg'></div>
<div class='nc-icon'><i class='fa fa-dollar'></i><input type='text' value='.fa-dollar'></div>
<div class='nc-icon'><i class='fa fa-dot-circle-o'></i><input type='text' value='.fa-dot-circle-o'></div>
<div class='nc-icon'><i class='fa fa-download'></i><input type='text' value='.fa-download'></div>
<div class='nc-icon'><i class='fa fa-dribbble'></i><input type='text' value='.fa-dribbble'></div>
<div class='nc-icon'><i class='fa fa-drivers-license'></i><input type='text' value='.fa-drivers-license'></div>
<div class='nc-icon'><i class='fa fa-drivers-license-o'></i><input type='text' value='.fa-drivers-license-o'></div>
<div class='nc-icon'><i class='fa fa-dropbox'></i><input type='text' value='.fa-dropbox'></div>
<div class='nc-icon'><i class='fa fa-drupal'></i><input type='text' value='.fa-drupal'></div>
<div class='nc-icon'><i class='fa fa-edge'></i><input type='text' value='.fa-edge'></div>
<div class='nc-icon'><i class='fa fa-edit'></i><input type='text' value='.fa-edit'></div>
<div class='nc-icon'><i class='fa fa-edit'></i><input type='text' value='.fa-pencil-square-o'></div>
<div class='nc-icon'><i class='fa fa-eercast'></i><input type='text' value='.fa-eercast'></div>
<div class='nc-icon'><i class='fa fa-eject'></i><input type='text' value='.fa-eject'></div>
<div class='nc-icon'><i class='fa fa-ellipsis-h'></i><input type='text' value='.fa-ellipsis-h'></div>
<div class='nc-icon'><i class='fa fa-ellipsis-v'></i><input type='text' value='.fa-ellipsis-v'></div>
<div class='nc-icon'><i class='fa fa-envelope'></i><input type='text' value='.fa-envelope'></div>
<div class='nc-icon'><i class='fa fa-envelope-o'></i><input type='text' value='.fa-envelope-o'></div>
<div class='nc-icon'><i class='fa fa-envelope-open'></i><input type='text' value='.fa-envelope-open'></div>
<div class='nc-icon'><i class='fa fa-envelope-open-o'></i><input type='text' value='.fa-envelope-open-o'></div>
<div class='nc-icon'><i class='fa fa-envelope-square'></i><input type='text' value='.fa-envelope-square'></div>
<div class='nc-icon'><i class='fa fa-envira'></i><input type='text' value='.fa-envira'></div>
<div class='nc-icon'><i class='fa fa-eraser'></i><input type='text' value='.fa-eraser'></div>
<div class='nc-icon'><i class='fa fa-etsy'></i><input type='text' value='.fa-etsy'></div>
<div class='nc-icon'><i class='fa fa-euro'></i><input type='text' value='.fa-euro'></div>
<div class='nc-icon'><i class='fa fa-exchange'></i><input type='text' value='.fa-exchange'></div>
<div class='nc-icon'><i class='fa fa-exclamation'></i><input type='text' value='.fa-exclamation'></div>
<div class='nc-icon'><i class='fa fa-exclamation-circle'></i><input type='text' value='.fa-exclamation-circle'></div>
<div class='nc-icon'><i class='fa fa-expand'></i><input type='text' value='.fa-expand'></div>
<div class='nc-icon'><i class='fa fa-expeditedssl'></i><input type='text' value='.fa-expeditedssl'></div>
<div class='nc-icon'><i class='fa fa-external-link'></i><input type='text' value='.fa-external-link'></div>
<div class='nc-icon'><i class='fa fa-external-link-square'></i><input type='text' value='.fa-external-link-square'></div>
<div class='nc-icon'><i class='fa fa-eye'></i><input type='text' value='.fa-eye'></div>
<div class='nc-icon'><i class='fa fa-eye-slash'></i><input type='text' value='.fa-eye-slash'></div>
<div class='nc-icon'><i class='fa fa-eyedropper'></i><input type='text' value='.fa-eyedropper'></div>
<div class='nc-icon'><i class='fa fa-fa'></i><input type='text' value='.fa-fa'></div>
<div class='nc-icon'><i class='fa fa-facebook-f'></i><input type='text' value='.fa-facebook-f'></div>
<div class='nc-icon'><i class='fa fa-facebook-f'></i><input type='text' value='.fa-facebook'></div>
<div class='nc-icon'><i class='fa fa-facebook-official'></i><input type='text' value='.fa-facebook-official'></div>
<div class='nc-icon'><i class='fa fa-facebook-square'></i><input type='text' value='.fa-facebook-square'></div>
<div class='nc-icon'><i class='fa fa-fast-backward'></i><input type='text' value='.fa-fast-backward'></div>
<div class='nc-icon'><i class='fa fa-fast-forward'></i><input type='text' value='.fa-fast-forward'></div>
<div class='nc-icon'><i class='fa fa-fax'></i><input type='text' value='.fa-fax'></div>
<div class='nc-icon'><i class='fa fa-feed'></i><input type='text' value='.fa-feed'></div>
<div class='nc-icon'><i class='fa fa-female'></i><input type='text' value='.fa-female'></div>
<div class='nc-icon'><i class='fa fa-fighter-jet'></i><input type='text' value='.fa-fighter-jet'></div>
<div class='nc-icon'><i class='fa fa-file'></i><input type='text' value='.fa-file'></div>
<div class='nc-icon'><i class='fa fa-file-code-o'></i><input type='text' value='.fa-file-code-o'></div>
<div class='nc-icon'><i class='fa fa-file-excel-o'></i><input type='text' value='.fa-file-excel-o'></div>
<div class='nc-icon'><i class='fa fa-file-movie-o'></i><input type='text' value='.fa-file-movie-o'></div>
<div class='nc-icon'><i class='fa fa-file-o'></i><input type='text' value='.fa-file-o'></div>
<div class='nc-icon'><i class='fa fa-file-pdf-o'></i><input type='text' value='.fa-file-pdf-o'></div>
<div class='nc-icon'><i class='fa fa-file-photo-o'></i><input type='text' value='.fa-file-photo-o'></div>
<div class='nc-icon'><i class='fa fa-file-powerpoint-o'></i><input type='text' value='.fa-file-powerpoint-o'></div>
<div class='nc-icon'><i class='fa fa-file-sound-o'></i><input type='text' value='.fa-file-sound-o'></div>
<div class='nc-icon'><i class='fa fa-file-text'></i><input type='text' value='.fa-file-text'></div>
<div class='nc-icon'><i class='fa fa-file-text-o'></i><input type='text' value='.fa-file-text-o'></div>
<div class='nc-icon'><i class='fa fa-file-word-o'></i><input type='text' value='.fa-file-word-o'></div>
<div class='nc-icon'><i class='fa fa-file-zip-o'></i><input type='text' value='.fa-file-zip-o'></div>
<div class='nc-icon'><i class='fa fa-film'></i><input type='text' value='.fa-film'></div>
<div class='nc-icon'><i class='fa fa-filter'></i><input type='text' value='.fa-filter'></div>
<div class='nc-icon'><i class='fa fa-fire'></i><input type='text' value='.fa-fire'></div>
<div class='nc-icon'><i class='fa fa-fire-extinguisher'></i><input type='text' value='.fa-fire-extinguisher'></div>
<div class='nc-icon'><i class='fa fa-firefox'></i><input type='text' value='.fa-firefox'></div>
<div class='nc-icon'><i class='fa fa-first-order'></i><input type='text' value='.fa-first-order'></div>
<div class='nc-icon'><i class='fa fa-flag'></i><input type='text' value='.fa-flag'></div>
<div class='nc-icon'><i class='fa fa-flag-checkered'></i><input type='text' value='.fa-flag-checkered'></div>
<div class='nc-icon'><i class='fa fa-flag-o'></i><input type='text' value='.fa-flag-o'></div>
<div class='nc-icon'><i class='fa fa-flash'></i><input type='text' value='.fa-flash'></div>
<div class='nc-icon'><i class='fa fa-flask'></i><input type='text' value='.fa-flask'></div>
<div class='nc-icon'><i class='fa fa-flickr'></i><input type='text' value='.fa-flickr'></div>
<div class='nc-icon'><i class='fa fa-folder'></i><input type='text' value='.fa-folder'></div>
<div class='nc-icon'><i class='fa fa-folder-o'></i><input type='text' value='.fa-folder-o'></div>
<div class='nc-icon'><i class='fa fa-folder-open'></i><input type='text' value='.fa-folder-open'></div>
<div class='nc-icon'><i class='fa fa-folder-open-o'></i><input type='text' value='.fa-folder-open-o'></div>
<div class='nc-icon'><i class='fa fa-font'></i><input type='text' value='.fa-font'></div>
<div class='nc-icon'><i class='fa fa-fonticons'></i><input type='text' value='.fa-fonticons'></div>
<div class='nc-icon'><i class='fa fa-fort-awesome'></i><input type='text' value='.fa-fort-awesome'></div>
<div class='nc-icon'><i class='fa fa-forumbee'></i><input type='text' value='.fa-forumbee'></div>
<div class='nc-icon'><i class='fa fa-forward'></i><input type='text' value='.fa-forward'></div>
<div class='nc-icon'><i class='fa fa-foursquare'></i><input type='text' value='.fa-foursquare'></div>
<div class='nc-icon'><i class='fa fa-free-code-camp'></i><input type='text' value='.fa-free-code-camp'></div>
<div class='nc-icon'><i class='fa fa-frown-o'></i><input type='text' value='.fa-frown-o'></div>
<div class='nc-icon'><i class='fa fa-gamepad'></i><input type='text' value='.fa-gamepad'></div>
<div class='nc-icon'><i class='fa fa-gbp'></i><input type='text' value='.fa-gbp'></div>
<div class='nc-icon'><i class='fa fa-ge'></i><input type='text' value='.fa-ge'></div>
<div class='nc-icon'><i class='fa fa-gear'></i><input type='text' value='.fa-cog'></div>
<div class='nc-icon'><i class='fa fa-gear'></i><input type='text' value='.fa-gear'></div>
<div class='nc-icon'><i class='fa fa-gears'></i><input type='text' value='.fa-cogs'></div>
<div class='nc-icon'><i class='fa fa-gears'></i><input type='text' value='.fa-gears'></div>
<div class='nc-icon'><i class='fa fa-genderless'></i><input type='text' value='.fa-genderless'></div>
<div class='nc-icon'><i class='fa fa-get-pocket'></i><input type='text' value='.fa-get-pocket'></div>
<div class='nc-icon'><i class='fa fa-gg'></i><input type='text' value='.fa-gg'></div>
<div class='nc-icon'><i class='fa fa-gg-circle'></i><input type='text' value='.fa-gg-circle'></div>
<div class='nc-icon'><i class='fa fa-gift'></i><input type='text' value='.fa-gift'></div>
<div class='nc-icon'><i class='fa fa-git'></i><input type='text' value='.fa-git'></div>
<div class='nc-icon'><i class='fa fa-git-square'></i><input type='text' value='.fa-git-square'></div>
<div class='nc-icon'><i class='fa fa-github'></i><input type='text' value='.fa-github'></div>
<div class='nc-icon'><i class='fa fa-github-alt'></i><input type='text' value='.fa-github-alt'></div>
<div class='nc-icon'><i class='fa fa-github-square'></i><input type='text' value='.fa-github-square'></div>
<div class='nc-icon'><i class='fa fa-gitlab'></i><input type='text' value='.fa-gitlab'></div>
<div class='nc-icon'><i class='fa fa-gittip'></i><input type='text' value='.fa-gittip'></div>
<div class='nc-icon'><i class='fa fa-glass'></i><input type='text' value='.fa-glass'></div>
<div class='nc-icon'><i class='fa fa-glide'></i><input type='text' value='.fa-glide'></div>
<div class='nc-icon'><i class='fa fa-glide-g'></i><input type='text' value='.fa-glide-g'></div>
<div class='nc-icon'><i class='fa fa-globe'></i><input type='text' value='.fa-globe'></div>
<div class='nc-icon'><i class='fa fa-google'></i><input type='text' value='.fa-google'></div>
<div class='nc-icon'><i class='fa fa-google-plus'></i><input type='text' value='.fa-google-plus'></div>
<div class='nc-icon'><i class='fa fa-google-plus-circle'></i><input type='text' value='.fa-google-plus-circle'></div>
<div class='nc-icon'><i class='fa fa-google-plus-square'></i><input type='text' value='.fa-google-plus-square'></div>
<div class='nc-icon'><i class='fa fa-google-wallet'></i><input type='text' value='.fa-google-wallet'></div>
<div class='nc-icon'><i class='fa fa-grav'></i><input type='text' value='.fa-grav'></div>
<div class='nc-icon'><i class='fa fa-group'></i><input type='text' value='.fa-group'></div>
<div class='nc-icon'><i class='fa fa-h-square'></i><input type='text' value='.fa-h-square'></div>
<div class='nc-icon'><i class='fa fa-hand-grab-o'></i><input type='text' value='.fa-hand-grab-o'></div>
<div class='nc-icon'><i class='fa fa-hand-lizard-o'></i><input type='text' value='.fa-hand-lizard-o'></div>
<div class='nc-icon'><i class='fa fa-hand-o-down'></i><input type='text' value='.fa-hand-o-down'></div>
<div class='nc-icon'><i class='fa fa-hand-o-left'></i><input type='text' value='.fa-hand-o-left'></div>
<div class='nc-icon'><i class='fa fa-hand-o-right'></i><input type='text' value='.fa-hand-o-right'></div>
<div class='nc-icon'><i class='fa fa-hand-o-up'></i><input type='text' value='.fa-hand-o-up'></div>
<div class='nc-icon'><i class='fa fa-hand-peace-o'></i><input type='text' value='.fa-hand-peace-o'></div>
<div class='nc-icon'><i class='fa fa-hand-pointer-o'></i><input type='text' value='.fa-hand-pointer-o'></div>
<div class='nc-icon'><i class='fa fa-hand-scissors-o'></i><input type='text' value='.fa-hand-scissors-o'></div>
<div class='nc-icon'><i class='fa fa-hand-spock-o'></i><input type='text' value='.fa-hand-spock-o'></div>
<div class='nc-icon'><i class='fa fa-hand-stop-o'></i><input type='text' value='.fa-hand-stop-o'></div>
<div class='nc-icon'><i class='fa fa-handshake-o'></i><input type='text' value='.fa-handshake-o'></div>
<div class='nc-icon'><i class='fa fa-hashtag'></i><input type='text' value='.fa-hashtag'></div>
<div class='nc-icon'><i class='fa fa-hdd-o'></i><input type='text' value='.fa-hdd-o'></div>
<div class='nc-icon'><i class='fa fa-header'></i><input type='text' value='.fa-header'></div>
<div class='nc-icon'><i class='fa fa-headphones'></i><input type='text' value='.fa-headphones'></div>
<div class='nc-icon'><i class='fa fa-heart'></i><input type='text' value='.fa-heart'></div>
<div class='nc-icon'><i class='fa fa-heart-o'></i><input type='text' value='.fa-heart-o'></div>
<div class='nc-icon'><i class='fa fa-heartbeat'></i><input type='text' value='.fa-heartbeat'></div>
<div class='nc-icon'><i class='fa fa-history'></i><input type='text' value='.fa-history'></div>
<div class='nc-icon'><i class='fa fa-home'></i><input type='text' value='.fa-home'></div>
<div class='nc-icon'><i class='fa fa-hospital-o'></i><input type='text' value='.fa-hospital-o'></div>
<div class='nc-icon'><i class='fa fa-hotel'></i><input type='text' value='.fa-hotel'></div>
<div class='nc-icon'><i class='fa fa-hourglass'></i><input type='text' value='.fa-hourglass'></div>
<div class='nc-icon'><i class='fa fa-hourglass-1'></i><input type='text' value='.fa-hourglass-1'></div>
<div class='nc-icon'><i class='fa fa-hourglass-2'></i><input type='text' value='.fa-hourglass-2'></div>
<div class='nc-icon'><i class='fa fa-hourglass-3'></i><input type='text' value='.fa-hourglass-3'></div>
<div class='nc-icon'><i class='fa fa-hourglass-o'></i><input type='text' value='.fa-hourglass-o'></div>
<div class='nc-icon'><i class='fa fa-houzz'></i><input type='text' value='.fa-houzz'></div>
<div class='nc-icon'><i class='fa fa-html5'></i><input type='text' value='.fa-html5'></div>
<div class='nc-icon'><i class='fa fa-i-cursor'></i><input type='text' value='.fa-i-cursor'></div>
<div class='nc-icon'><i class='fa fa-id-badge'></i><input type='text' value='.fa-id-badge'></div>
<div class='nc-icon'><i class='fa fa-imdb'></i><input type='text' value='.fa-imdb'></div>
<div class='nc-icon'><i class='fa fa-inbox'></i><input type='text' value='.fa-inbox'></div>
<div class='nc-icon'><i class='fa fa-indent'></i><input type='text' value='.fa-indent'></div>
<div class='nc-icon'><i class='fa fa-industry'></i><input type='text' value='.fa-industry'></div>
<div class='nc-icon'><i class='fa fa-info'></i><input type='text' value='.fa-info'></div>
<div class='nc-icon'><i class='fa fa-info-circle'></i><input type='text' value='.fa-info-circle'></div>
<div class='nc-icon'><i class='fa fa-instagram'></i><input type='text' value='.fa-instagram'></div>
<div class='nc-icon'><i class='fa fa-institution'></i><input type='text' value='.fa-institution'></div>
<div class='nc-icon'><i class='fa fa-internet-explorer'></i><input type='text' value='.fa-internet-explorer'></div>
<div class='nc-icon'><i class='fa fa-intersex'></i><input type='text' value='.fa-intersex'></div>
<div class='nc-icon'><i class='fa fa-ioxhost'></i><input type='text' value='.fa-ioxhost'></div>
<div class='nc-icon'><i class='fa fa-italic'></i><input type='text' value='.fa-italic'></div>
<div class='nc-icon'><i class='fa fa-joomla'></i><input type='text' value='.fa-joomla'></div>
<div class='nc-icon'><i class='fa fa-jsfiddle'></i><input type='text' value='.fa-jsfiddle'></div>
<div class='nc-icon'><i class='fa fa-key'></i><input type='text' value='.fa-key'></div>
<div class='nc-icon'><i class='fa fa-keyboard-o'></i><input type='text' value='.fa-keyboard-o'></div>
<div class='nc-icon'><i class='fa fa-language'></i><input type='text' value='.fa-language'></div>
<div class='nc-icon'><i class='fa fa-laptop'></i><input type='text' value='.fa-laptop'></div>
<div class='nc-icon'><i class='fa fa-lastfm'></i><input type='text' value='.fa-lastfm'></div>
<div class='nc-icon'><i class='fa fa-lastfm-square'></i><input type='text' value='.fa-lastfm-square'></div>
<div class='nc-icon'><i class='fa fa-leaf'></i><input type='text' value='.fa-leaf'></div>
<div class='nc-icon'><i class='fa fa-leanpub'></i><input type='text' value='.fa-leanpub'></div>
<div class='nc-icon'><i class='fa fa-legal'></i><input type='text' value='.fa-legal'></div>
<div class='nc-icon'><i class='fa fa-lemon-o'></i><input type='text' value='.fa-lemon-o'></div>
<div class='nc-icon'><i class='fa fa-level-down'></i><input type='text' value='.fa-level-down'></div>
<div class='nc-icon'><i class='fa fa-level-up'></i><input type='text' value='.fa-level-up'></div>
<div class='nc-icon'><i class='fa fa-life-bouy'></i><input type='text' value='.fa-life-bouy'></div>
<div class='nc-icon'><i class='fa fa-lightbulb-o'></i><input type='text' value='.fa-lightbulb-o'></div>
<div class='nc-icon'><i class='fa fa-line-chart'></i><input type='text' value='.fa-line-chart'></div>
<div class='nc-icon'><i class='fa fa-linkedin'></i><input type='text' value='.fa-linkedin'></div>
<div class='nc-icon'><i class='fa fa-linkedin-square'></i><input type='text' value='.fa-linkedin-square'></div>
<div class='nc-icon'><i class='fa fa-linode'></i><input type='text' value='.fa-linode'></div>
<div class='nc-icon'><i class='fa fa-linux'></i><input type='text' value='.fa-linux'></div>
<div class='nc-icon'><i class='fa fa-list'></i><input type='text' value='.fa-list'></div>
<div class='nc-icon'><i class='fa fa-list-alt'></i><input type='text' value='.fa-list-alt'></div>
<div class='nc-icon'><i class='fa fa-list-ol'></i><input type='text' value='.fa-list-ol'></div>
<div class='nc-icon'><i class='fa fa-list-ul'></i><input type='text' value='.fa-list-ul'></div>
<div class='nc-icon'><i class='fa fa-location-arrow'></i><input type='text' value='.fa-location-arrow'></div>
<div class='nc-icon'><i class='fa fa-lock'></i><input type='text' value='.fa-lock'></div>
<div class='nc-icon'><i class='fa fa-long-arrow-down'></i><input type='text' value='.fa-long-arrow-down'></div>
<div class='nc-icon'><i class='fa fa-long-arrow-left'></i><input type='text' value='.fa-long-arrow-left'></div>
<div class='nc-icon'><i class='fa fa-long-arrow-right'></i><input type='text' value='.fa-long-arrow-right'></div>
<div class='nc-icon'><i class='fa fa-long-arrow-up'></i><input type='text' value='.fa-long-arrow-up'></div>
<div class='nc-icon'><i class='fa fa-low-vision'></i><input type='text' value='.fa-low-vision'></div>
<div class='nc-icon'><i class='fa fa-magic'></i><input type='text' value='.fa-magic'></div>
<div class='nc-icon'><i class='fa fa-magnet'></i><input type='text' value='.fa-magnet'></div>
<div class='nc-icon'><i class='fa fa-mail-forward'></i><input type='text' value='.fa-mail-forward'></div>
<div class='nc-icon'><i class='fa fa-mail-forward'></i><input type='text' value='.fa-share'></div>
<div class='nc-icon'><i class='fa fa-mail-reply'></i><input type='text' value='.fa-mail-reply'></div>
<div class='nc-icon'><i class='fa fa-mail-reply-all'></i><input type='text' value='.fa-mail-reply-all'></div>
<div class='nc-icon'><i class='fa fa-male'></i><input type='text' value='.fa-male'></div>
<div class='nc-icon'><i class='fa fa-map'></i><input type='text' value='.fa-map'></div>
<div class='nc-icon'><i class='fa fa-map-marker'></i><input type='text' value='.fa-map-marker'></div>
<div class='nc-icon'><i class='fa fa-map-o'></i><input type='text' value='.fa-map-o'></div>
<div class='nc-icon'><i class='fa fa-map-pin'></i><input type='text' value='.fa-map-pin'></div>
<div class='nc-icon'><i class='fa fa-map-signs'></i><input type='text' value='.fa-map-signs'></div>
<div class='nc-icon'><i class='fa fa-mars'></i><input type='text' value='.fa-mars'></div>
<div class='nc-icon'><i class='fa fa-mars-double'></i><input type='text' value='.fa-mars-double'></div>
<div class='nc-icon'><i class='fa fa-mars-stroke'></i><input type='text' value='.fa-mars-stroke'></div>
<div class='nc-icon'><i class='fa fa-mars-stroke-h'></i><input type='text' value='.fa-mars-stroke-h'></div>
<div class='nc-icon'><i class='fa fa-mars-stroke-v'></i><input type='text' value='.fa-mars-stroke-v'></div>
<div class='nc-icon'><i class='fa fa-maxcdn'></i><input type='text' value='.fa-maxcdn'></div>
<div class='nc-icon'><i class='fa fa-meanpath'></i><input type='text' value='.fa-meanpath'></div>
<div class='nc-icon'><i class='fa fa-medium'></i><input type='text' value='.fa-medium'></div>
<div class='nc-icon'><i class='fa fa-medkit'></i><input type='text' value='.fa-medkit'></div>
<div class='nc-icon'><i class='fa fa-meetup'></i><input type='text' value='.fa-meetup'></div>
<div class='nc-icon'><i class='fa fa-meh-o'></i><input type='text' value='.fa-meh-o'></div>
<div class='nc-icon'><i class='fa fa-mercury'></i><input type='text' value='.fa-mercury'></div>
<div class='nc-icon'><i class='fa fa-microchip'></i><input type='text' value='.fa-microchip'></div>
<div class='nc-icon'><i class='fa fa-microphone'></i><input type='text' value='.fa-microphone'></div>
<div class='nc-icon'><i class='fa fa-microphone-slash'></i><input type='text' value='.fa-microphone-slash'></div>
<div class='nc-icon'><i class='fa fa-minus'></i><input type='text' value='.fa-minus'></div>
<div class='nc-icon'><i class='fa fa-minus-circle'></i><input type='text' value='.fa-minus-circle'></div>
<div class='nc-icon'><i class='fa fa-minus-square'></i><input type='text' value='.fa-minus-square'></div>
<div class='nc-icon'><i class='fa fa-minus-square-o'></i><input type='text' value='.fa-minus-square-o'></div>
<div class='nc-icon'><i class='fa fa-mixcloud'></i><input type='text' value='.fa-mixcloud'></div>
<div class='nc-icon'><i class='fa fa-mobile-phone'></i><input type='text' value='.fa-mobile-phone'></div>
<div class='nc-icon'><i class='fa fa-modx'></i><input type='text' value='.fa-modx'></div>
<div class='nc-icon'><i class='fa fa-money'></i><input type='text' value='.fa-money'></div>
<div class='nc-icon'><i class='fa fa-moon-o'></i><input type='text' value='.fa-moon-o'></div>
<div class='nc-icon'><i class='fa fa-mortar-board'></i><input type='text' value='.fa-mortar-board'></div>
<div class='nc-icon'><i class='fa fa-motorcycle'></i><input type='text' value='.fa-motorcycle'></div>
<div class='nc-icon'><i class='fa fa-mouse-pointer'></i><input type='text' value='.fa-mouse-pointer'></div>
<div class='nc-icon'><i class='fa fa-music'></i><input type='text' value='.fa-music'></div>
<div class='nc-icon'><i class='fa fa-navicon'></i><input type='text' value='.fa-navicon'></div>
<div class='nc-icon'><i class='fa fa-neuter'></i><input type='text' value='.fa-neuter'></div>
<div class='nc-icon'><i class='fa fa-newspaper-o'></i><input type='text' value='.fa-newspaper-o'></div>
<div class='nc-icon'><i class='fa fa-object-group'></i><input type='text' value='.fa-object-group'></div>
<div class='nc-icon'><i class='fa fa-object-ungroup'></i><input type='text' value='.fa-object-ungroup'></div>
<div class='nc-icon'><i class='fa fa-odnoklassniki'></i><input type='text' value='.fa-odnoklassniki'></div>
<div class='nc-icon'><i class='fa fa-odnoklassniki-square'></i><input type='text' value='.fa-odnoklassniki-square'></div>
<div class='nc-icon'><i class='fa fa-opencart'></i><input type='text' value='.fa-opencart'></div>
<div class='nc-icon'><i class='fa fa-openid'></i><input type='text' value='.fa-openid'></div>
<div class='nc-icon'><i class='fa fa-opera'></i><input type='text' value='.fa-opera'></div>
<div class='nc-icon'><i class='fa fa-optin-monster'></i><input type='text' value='.fa-optin-monster'></div>
<div class='nc-icon'><i class='fa fa-pagelines'></i><input type='text' value='.fa-pagelines'></div>
<div class='nc-icon'><i class='fa fa-paint-brush'></i><input type='text' value='.fa-paint-brush'></div>
<div class='nc-icon'><i class='fa fa-paperclip'></i><input type='text' value='.fa-paperclip'></div>
<div class='nc-icon'><i class='fa fa-paragraph'></i><input type='text' value='.fa-paragraph'></div>
<div class='nc-icon'><i class='fa fa-paste></i><input type='text' value='.fa-paste'></div>
<div class='nc-icon'><i class='fa fa-pause'></i><input type='text' value='.fa-pause'></div>
<div class='nc-icon'><i class='fa fa-pause-circle'></i><input type='text' value='.fa-pause-circle'></div>
<div class='nc-icon'><i class='fa fa-pause-circle-o'></i><input type='text' value='.fa-pause-circle-o'></div>
<div class='nc-icon'><i class='fa fa-paw'></i><input type='text' value='.fa-paw'></div>
<div class='nc-icon'><i class='fa fa-paypal'></i><input type='text' value='.fa-paypal'></div>
<div class='nc-icon'><i class='fa fa-pencil'></i><input type='text' value='.fa-pencil'></div>
<div class='nc-icon'><i class='fa fa-pencil-square'></i><input type='text' value='.fa-pencil-square'></div>
<div class='nc-icon'><i class='fa fa-percent'></i><input type='text' value='.fa-percent'></div>
<div class='nc-icon'><i class='fa fa-phone'></i><input type='text' value='.fa-phone'></div>
<div class='nc-icon'><i class='fa fa-phone-square'></i><input type='text' value='.fa-phone-square'></div>
<div class='nc-icon'><i class='fa fa-photo'></i><input type='text' value='.fa-image'></div>
<div class='nc-icon'><i class='fa fa-photo'></i><input type='text' value='.fa-photo'></div>
<div class='nc-icon'><i class='fa fa-photo'></i><input type='text' value='.fa-picture-o'></div>
<div class='nc-icon'><i class='fa fa-pie-chart'></i><input type='text' value='.fa-pie-chart'></div>
<div class='nc-icon'><i class='fa fa-pied-piper'></i><input type='text' value='.fa-pied-piper'></div>
<div class='nc-icon'><i class='fa fa-pied-piper-alt'></i><input type='text' value='.fa-pied-piper-alt'></div>
<div class='nc-icon'><i class='fa fa-pied-piper-pp'></i><input type='text' value='.fa-pied-piper-pp'></div>
<div class='nc-icon'><i class='fa fa-pinterest'></i><input type='text' value='.fa-pinterest'></div>
<div class='nc-icon'><i class='fa fa-pinterest-p'></i><input type='text' value='.fa-pinterest-p'></div>
<div class='nc-icon'><i class='fa fa-pinterest-square'></i><input type='text' value='.fa-pinterest-square'></div>
<div class='nc-icon'><i class='fa fa-plane'></i><input type='text' value='.fa-plane'></div>
<div class='nc-icon'><i class='fa fa-play'></i><input type='text' value='.fa-play'></div>
<div class='nc-icon'><i class='fa fa-play-circle'></i><input type='text' value='.fa-play-circle'></div>
<div class='nc-icon'><i class='fa fa-play-circle-o'></i><input type='text' value='.fa-play-circle-o'></div>
<div class='nc-icon'><i class='fa fa-plug'></i><input type='text' value='.fa-plug'></div>
<div class='nc-icon'><i class='fa fa-plus'></i><input type='text' value='.fa-plus'></div>
<div class='nc-icon'><i class='fa fa-plus-circle'></i><input type='text' value='.fa-plus-circle'></div>
<div class='nc-icon'><i class='fa fa-plus-square'></i><input type='text' value='.fa-plus-square'></div>
<div class='nc-icon'><i class='fa fa-plus-square-o'></i><input type='text' value='.fa-plus-square-o'></div>
<div class='nc-icon'><i class='fa fa-podcast'></i><input type='text' value='.fa-podcast'></div>
<div class='nc-icon'><i class='fa fa-power-off'></i><input type='text' value='.fa-power-off'></div>
<div class='nc-icon'><i class='fa fa-print'></i><input type='text' value='.fa-print'></div>
<div class='nc-icon'><i class='fa fa-product-hunt'></i><input type='text' value='.fa-product-hunt'></div>
<div class='nc-icon'><i class='fa fa-puzzle-piece'></i><input type='text' value='.fa-puzzle-piece'></div>
<div class='nc-icon'><i class='fa fa-qq'></i><input type='text' value='.fa-qq'></div>
<div class='nc-icon'><i class='fa fa-qrcode'></i><input type='text' value='.fa-qrcode'></div>
<div class='nc-icon'><i class='fa fa-question'></i><input type='text' value='.fa-question'></div>
<div class='nc-icon'><i class='fa fa-question-circle'></i><input type='text' value='.fa-question-circle'></div>
<div class='nc-icon'><i class='fa fa-question-circle-o'></i><input type='text' value='.fa-question-circle-o'></div>
<div class='nc-icon'><i class='fa fa-quora'></i><input type='text' value='.fa-quora'></div>
<div class='nc-icon'><i class='fa fa-quote-left'></i><input type='text' value='.fa-quote-left'></div>
<div class='nc-icon'><i class='fa fa-quote-right'></i><input type='text' value='.fa-quote-right'></div>
<div class='nc-icon'><i class='fa fa-ra'></i><input type='text' value='.fa-ra'></div>
<div class='nc-icon'><i class='fa fa-random'></i><input type='text' value='.fa-random'></div>
<div class='nc-icon'><i class='fa fa-ravelry'></i><input type='text' value='.fa-ravelry'></div>
<div class='nc-icon'><i class='fa fa-recycle'></i><input type='text' value='.fa-recycle'></div>
<div class='nc-icon'><i class='fa fa-reddit'></i><input type='text' value='.fa-reddit'></div>
<div class='nc-icon'><i class='fa fa-reddit-alien'></i><input type='text' value='.fa-reddit-alien'></div>
<div class='nc-icon'><i class='fa fa-reddit-square'></i><input type='text' value='.fa-reddit-square'></div>
<div class='nc-icon'><i class='fa fa-refresh'></i><input type='text' value='.fa-refresh'></div>
<div class='nc-icon'><i class='fa fa-registered'></i><input type='text' value='.fa-registered'></div>
<div class='nc-icon'><i class='fa fa-renren'></i><input type='text' value='.fa-renren'></div>
<div class='nc-icon'><i class='fa fa-retweet'></i><input type='text' value='.fa-retweet'></div>
<div class='nc-icon'><i class='fa fa-road'></i><input type='text' value='.fa-road'></div>
<div class='nc-icon'><i class='fa fa-rocket'></i><input type='text' value='.fa-rocket'></div>
<div class='nc-icon'><i class='fa fa-rotate-left'></i><input type='text' value='.fa-rotate-left'></div>
<div class='nc-icon'><i class='fa fa-rotate-right'></i><input type='text' value='.fa-repeat'></div>
<div class='nc-icon'><i class='fa fa-rotate-right'></i><input type='text' value='.fa-rotate-right'></div>
<div class='nc-icon'><i class='fa fa-rss-square'></i><input type='text' value='.fa-rss-square'></div>
<div class='nc-icon'><i class='fa fa-ruble'></i><input type='text' value='.fa-ruble'></div>
<div class='nc-icon'><i class='fa fa-rupee'></i><input type='text' value='.fa-rupee'></div>
<div class='nc-icon'><i class='fa fa-safari'></i><input type='text' value='.fa-safari'></div>
<div class='nc-icon'><i class='fa fa-save'></i><input type='text' value='.fa-save'></div>
<div class='nc-icon'><i class='fa fa-scribd'></i><input type='text' value='.fa-scribd'></div>
<div class='nc-icon'><i class='fa fa-search'></i><input type='text' value='.fa-search'></div>
<div class='nc-icon'><i class='fa fa-search-minus'></i><input type='text' value='.fa-search-minus'></div>
<div class='nc-icon'><i class='fa fa-search-plus'></i><input type='text' value='.fa-search-plus'></div>
<div class='nc-icon'><i class='fa fa-sellsy'></i><input type='text' value='.fa-sellsy'></div>
<div class='nc-icon'><i class='fa fa-send'></i><input type='text' value='.fa-send'></div>
<div class='nc-icon'><i class='fa fa-send-o'></i><input type='text' value='.fa-send-o'></div>
<div class='nc-icon'><i class='fa fa-server'></i><input type='text' value='.fa-server'></div>
<div class='nc-icon'><i class='fa fa-share-alt'></i><input type='text' value='.fa-share-alt'></div>
<div class='nc-icon'><i class='fa fa-share-alt-square'></i><input type='text' value='.fa-share-alt-square'></div>
<div class='nc-icon'><i class='fa fa-share-square'></i><input type='text' value='.fa-share-square'></div>
<div class='nc-icon'><i class='fa fa-share-square-o'></i><input type='text' value='.fa-share-square-o'></div>
<div class='nc-icon'><i class='fa fa-shekel'></i><input type='text' value='.fa-shekel'></div>
<div class='nc-icon'><i class='fa fa-shield'></i><input type='text' value='.fa-shield'></div>
<div class='nc-icon'><i class='fa fa-ship'></i><input type='text' value='.fa-ship'></div>
<div class='nc-icon'><i class='fa fa-shirtsinbulk'></i><input type='text' value='.fa-shirtsinbulk'></div>
<div class='nc-icon'><i class='fa fa-shopping-bag'></i><input type='text' value='.fa-shopping-bag'></div>
<div class='nc-icon'><i class='fa fa-shopping-basket'></i><input type='text' value='.fa-shopping-basket'></div>
<div class='nc-icon'><i class='fa fa-shopping-cart'></i><input type='text' value='.fa-shopping-cart'></div>
<div class='nc-icon'><i class='fa fa-shower'></i><input type='text' value='.fa-shower'></div>
<div class='nc-icon'><i class='fa fa-sign-in'></i><input type='text' value='.fa-sign-in'></div>
<div class='nc-icon'><i class='fa fa-sign-out'></i><input type='text' value='.fa-sign-out'></div>
<div class='nc-icon'><i class='fa fa-signal'></i><input type='text' value='.fa-signal'></div>
<div class='nc-icon'><i class='fa fa-signing'></i><input type='text' value='.fa-signing'></div>
<div class='nc-icon'><i class='fa fa-simplybuilt'></i><input type='text' value='.fa-simplybuilt'></div>
<div class='nc-icon'><i class='fa fa-sitemap'></i><input type='text' value='.fa-sitemap'></div>
<div class='nc-icon'><i class='fa fa-skyatlas'></i><input type='text' value='.fa-skyatlas'></div>
<div class='nc-icon'><i class='fa fa-skype'></i><input type='text' value='.fa-skype'></div>
<div class='nc-icon'><i class='fa fa-slack'></i><input type='text' value='.fa-slack'></div>
<div class='nc-icon'><i class='fa fa-sliders'></i><input type='text' value='.fa-sliders'></div>
<div class='nc-icon'><i class='fa fa-slideshare'></i><input type='text' value='.fa-slideshare'></div>
<div class='nc-icon'><i class='fa fa-smile-o'></i><input type='text' value='.fa-smile-o'></div>
<div class='nc-icon'><i class='fa fa-snapchat'></i><input type='text' value='.fa-snapchat'></div>
<div class='nc-icon'><i class='fa fa-snapchat-ghost'></i><input type='text' value='.fa-snapchat-ghost'></div>
<div class='nc-icon'><i class='fa fa-snapchat-square'></i><input type='text' value='.fa-snapchat-square'></div>
<div class='nc-icon'><i class='fa fa-snowflake-o'></i><input type='text' value='.fa-snowflake-o'></div>
<div class='nc-icon'><i class='fa fa-soccer-ball-o'></i><input type='text' value='.fa-soccer-ball-o'></div>
<div class='nc-icon'><i class='fa fa-sort-alpha-asc'></i><input type='text' value='.fa-sort-alpha-asc'></div>
<div class='nc-icon'><i class='fa fa-sort-alpha-desc'></i><input type='text' value='.fa-sort-alpha-desc'></div>
<div class='nc-icon'><i class='fa fa-sort-amount-asc'></i><input type='text' value='.fa-sort-amount-asc'></div>
<div class='nc-icon'><i class='fa fa-sort-amount-desc'></i><input type='text' value='.fa-sort-amount-desc'></div>
<div class='nc-icon'><i class='fa fa-sort-down'></i><input type='text' value='.fa-sort-down'></div>
<div class='nc-icon'><i class='fa fa-sort-numeric-asc'></i><input type='text' value='.fa-sort-numeric-asc'></div>
<div class='nc-icon'><i class='fa fa-sort-numeric-desc'></i><input type='text' value='.fa-sort-numeric-desc'></div>
<div class='nc-icon'><i class='fa fa-sort-up'></i><input type='text' value='.fa-sort-up'></div>
<div class='nc-icon'><i class='fa fa-soundcloud'></i><input type='text' value='.fa-soundcloud'></div>
<div class='nc-icon'><i class='fa fa-space-shuttle'></i><input type='text' value='.fa-space-shuttle'></div>
<div class='nc-icon'><i class='fa fa-spinner'></i><input type='text' value='.fa-spinner'></div>
<div class='nc-icon'><i class='fa fa-spoon'></i><input type='text' value='.fa-spoon'></div>
<div class='nc-icon'><i class='fa fa-spotify'></i><input type='text' value='.fa-spotify'></div>
<div class='nc-icon'><i class='fa fa-square'></i><input type='text' value='.fa-square'></div>
<div class='nc-icon'><i class='fa fa-square-o'></i><input type='text' value='.fa-square-o'></div>
<div class='nc-icon'><i class='fa fa-stack-exchange'></i><input type='text' value='.fa-stack-exchange'></div>
<div class='nc-icon'><i class='fa fa-stack-overflow'></i><input type='text' value='.fa-stack-overflow'></div>
<div class='nc-icon'><i class='fa fa-star'></i><input type='text' value='.fa-star'></div>
<div class='nc-icon'><i class='fa fa-star-half'></i><input type='text' value='.fa-star-half'></div>
<div class='nc-icon'><i class='fa fa-star-half-empty'></i><input type='text' value='.fa-star-half-empty'></div>
<div class='nc-icon'><i class='fa fa-star-o'></i><input type='text' value='.fa-star-o'></div>
<div class='nc-icon'><i class='fa fa-steam'></i><input type='text' value='.fa-steam'></div>
<div class='nc-icon'><i class='fa fa-steam-square'></i><input type='text' value='.fa-steam-square'></div>
<div class='nc-icon'><i class='fa fa-step-backward'></i><input type='text' value='.fa-step-backward'></div>
<div class='nc-icon'><i class='fa fa-step-forward'></i><input type='text' value='.fa-step-forward'></div>
<div class='nc-icon'><i class='fa fa-stethoscope'></i><input type='text' value='.fa-stethoscope'></div>
<div class='nc-icon'><i class='fa fa-sticky-note'></i><input type='text' value='.fa-sticky-note'></div>
<div class='nc-icon'><i class='fa fa-sticky-note-o'></i><input type='text' value='.fa-sticky-note-o'></div>
<div class='nc-icon'><i class='fa fa-stop'></i><input type='text' value='.fa-stop'></div>
<div class='nc-icon'><i class='fa fa-stop-circle'></i><input type='text' value='.fa-stop-circle'></div>
<div class='nc-icon'><i class='fa fa-stop-circle-o'></i><input type='text' value='.fa-stop-circle-o'></div>
<div class='nc-icon'><i class='fa fa-street-view'></i><input type='text' value='.fa-street-view'></div>
<div class='nc-icon'><i class='fa fa-strikethrough'></i><input type='text' value='.fa-strikethrough'></div>
<div class='nc-icon'><i class='fa fa-stumbleupon'></i><input type='text' value='.fa-stumbleupon'></div>
<div class='nc-icon'><i class='fa fa-stumbleupon-circle'></i><input type='text' value='.fa-stumbleupon-circle'></div>
<div class='nc-icon'><i class='fa fa-subscript'></i><input type='text' value='.fa-subscript'></div>
<div class='nc-icon'><i class='fa fa-subway'></i><input type='text' value='.fa-subway'></div>
<div class='nc-icon'><i class='fa fa-suitcase'></i><input type='text' value='.fa-suitcase'></div>
<div class='nc-icon'><i class='fa fa-sun-o'></i><input type='text' value='.fa-sun-o'></div>
<div class='nc-icon'><i class='fa fa-superpowers'></i><input type='text' value='.fa-superpowers'></div>
<div class='nc-icon'><i class='fa fa-superscript'></i><input type='text' value='.fa-superscript'></div>
<div class='nc-icon'><i class='fa fa-table'></i><input type='text' value='.fa-table'></div>
<div class='nc-icon'><i class='fa fa-tablet'></i><input type='text' value='.fa-tablet'></div>
<div class='nc-icon'><i class='fa fa-tag'></i><input type='text' value='.fa-tag'></div>
<div class='nc-icon'><i class='fa fa-tags'></i><input type='text' value='.fa-tags'></div>
<div class='nc-icon'><i class='fa fa-tasks'></i><input type='text' value='.fa-tasks'></div>
<div class='nc-icon'><i class='fa fa-telegram'></i><input type='text' value='.fa-telegram'></div>
<div class='nc-icon'><i class='fa fa-tencent-weibo'></i><input type='text' value='.fa-tencent-weibo'></div>
<div class='nc-icon'><i class='fa fa-terminal'></i><input type='text' value='.fa-terminal'></div>
<div class='nc-icon'><i class='fa fa-text-height'></i><input type='text' value='.fa-text-height'></div>
<div class='nc-icon'><i class='fa fa-text-width'></i><input type='text' value='.fa-text-width'></div>
<div class='nc-icon'><i class='fa fa-th'></i><input type='text' value='.fa-th'></div>
<div class='nc-icon'><i class='fa fa-th-large'></i><input type='text' value='.fa-th-large'></div>
<div class='nc-icon'><i class='fa fa-th-list'></i><input type='text' value='.fa-th-list'></div>
<div class='nc-icon'><i class='fa fa-themeisle'></i><input type='text' value='.fa-themeisle'></div>
<div class='nc-icon'><i class='fa fa-thermometer-0'></i><input type='text' value='.fa-thermometer-0'></div>
<div class='nc-icon'><i class='fa fa-thermometer-1'></i><input type='text' value='.fa-thermometer-1'></div>
<div class='nc-icon'><i class='fa fa-thermometer-2'></i><input type='text' value='.fa-thermometer-2'></div>
<div class='nc-icon'><i class='fa fa-thermometer-3'></i><input type='text' value='.fa-thermometer-3'></div>
<div class='nc-icon'><i class='fa fa-thermometer-4'></i><input type='text' value='.fa-thermometer-4'></div>
<div class='nc-icon'><i class='fa fa-thumb-tack'></i><input type='text' value='.fa-thumb-tack'></div>
<div class='nc-icon'><i class='fa fa-thumbs-down'></i><input type='text' value='.fa-thumbs-down'></div>
<div class='nc-icon'><i class='fa fa-thumbs-o-down'></i><input type='text' value='.fa-thumbs-o-down'></div>
<div class='nc-icon'><i class='fa fa-thumbs-o-up'></i><input type='text' value='.fa-thumbs-o-up'></div>
<div class='nc-icon'><i class='fa fa-thumbs-up'></i><input type='text' value='.fa-thumbs-up'></div>
<div class='nc-icon'><i class='fa fa-ticket'></i><input type='text' value='.fa-ticket'></div>
<div class='nc-icon'><i class='fa fa-times'></i><input type='text' value='.fa-close'></div>
<div class='nc-icon'><i class='fa fa-times'></i><input type='text' value='.fa-remove'></div>
<div class='nc-icon'><i class='fa fa-times'></i><input type='text' value='.fa-times'></div>
<div class='nc-icon'><i class='fa fa-times-circle'></i><input type='text' value='.fa-times-circle'></div>
<div class='nc-icon'><i class='fa fa-times-circle-o'></i><input type='text' value='.fa-times-circle-o'></div>
<div class='nc-icon'><i class='fa fa-times-rectangle'></i><input type='text' value='.fa-times-rectangle'></div>
<div class='nc-icon'><i class='fa fa-times-rectangle-o'></i><input type='text' value='.fa-times-rectangle-o'></div>
<div class='nc-icon'><i class='fa fa-tint'></i><input type='text' value='.fa-tint'></div>
<div class='nc-icon'><i class='fa fa-toggle-down'></i><input type='text' value='.fa-toggle-down'></div>
<div class='nc-icon'><i class='fa fa-toggle-left'></i><input type='text' value='.fa-toggle-left'></div>
<div class='nc-icon'><i class='fa fa-toggle-off'></i><input type='text' value='.fa-toggle-off'></div>
<div class='nc-icon'><i class='fa fa-toggle-on'></i><input type='text' value='.fa-toggle-on'></div>
<div class='nc-icon'><i class='fa fa-toggle-right'></i><input type='text' value='.fa-toggle-right'></div>
<div class='nc-icon'><i class='fa fa-toggle-up></i><input type='text' value='.fa-toggle-up'></div>
<div class='nc-icon'><i class='fa fa-trademark'></i><input type='text' value='.fa-trademark'></div>
<div class='nc-icon'><i class='fa fa-train'></i><input type='text' value='.fa-train'></div>
<div class='nc-icon'><i class='fa fa-transgender-alt'></i><input type='text' value='.fa-transgender-alt'></div>
<div class='nc-icon'><i class='fa fa-trash'></i><input type='text' value='.fa-trash'></div>
<div class='nc-icon'><i class='fa fa-trash-o'></i><input type='text' value='.fa-trash-o'></div>
<div class='nc-icon'><i class='fa fa-tree'></i><input type='text' value='.fa-tree'></div>
<div class='nc-icon'><i class='fa fa-trello'></i><input type='text' value='.fa-trello'></div>
<div class='nc-icon'><i class='fa fa-tripadvisor'></i><input type='text' value='.fa-tripadvisor'></div>
<div class='nc-icon'><i class='fa fa-trophy'></i><input type='text' value='.fa-trophy'></div>
<div class='nc-icon'><i class='fa fa-truck'></i><input type='text' value='.fa-truck'></div>
<div class='nc-icon'><i class='fa fa-tty'></i><input type='text' value='.fa-tty'></div>
<div class='nc-icon'><i class='fa fa-tumblr'></i><input type='text' value='.fa-tumblr'></div>
<div class='nc-icon'><i class='fa fa-tumblr-square'></i><input type='text' value='.fa-tumblr-square'></div>
<div class='nc-icon'><i class='fa fa-turkish-lira'></i><input type='text' value='.fa-turkish-lira'></div>
<div class='nc-icon'><i class='fa fa-tv'></i><input type='text' value='.fa-tv'></div>
<div class='nc-icon'><i class='fa fa-twitch'></i><input type='text' value='.fa-twitch'></div>
<div class='nc-icon'><i class='fa fa-twitter'></i><input type='text' value='.fa-twitter'></div>
<div class='nc-icon'><i class='fa fa-twitter-square'></i><input type='text' value='.fa-twitter-square'></div>
<div class='nc-icon'><i class='fa fa-umbrella'></i><input type='text' value='.fa-umbrella'></div>
<div class='nc-icon'><i class='fa fa-underline'></i><input type='text' value='.fa-underline'></div>
<div class='nc-icon'><i class='fa fa-universal-access'></i><input type='text' value='.fa-universal-access'></div>
<div class='nc-icon'><i class='fa fa-unlink'></i><input type='text' value='.fa-unlink'></div>
<div class='nc-icon'><i class='fa fa-unlock'></i><input type='text' value='.fa-unlock'></div>
<div class='nc-icon'><i class='fa fa-unlock-alt'></i><input type='text' value='.fa-unlock-alt'></div>
<div class='nc-icon'><i class='fa fa-unsorted'></i><input type='text' value='.fa-unsorted'></div>
<div class='nc-icon'><i class='fa fa-upload'></i><input type='text' value='.fa-upload'></div>
<div class='nc-icon'><i class='fa fa-usb'></i><input type='text' value='.fa-usb'></div>
<div class='nc-icon'><i class='fa fa-user'></i><input type='text' value='.fa-user'></div>
<div class='nc-icon'><i class='fa fa-user-circle'></i><input type='text' value='.fa-user-circle'></div>
<div class='nc-icon'><i class='fa fa-user-circle-o'></i><input type='text' value='.fa-user-circle-o'></div>
<div class='nc-icon'><i class='fa fa-user-md'></i><input type='text' value='.fa-user-md'></div>
<div class='nc-icon'><i class='fa fa-user-o'></i><input type='text' value='.fa-user-o'></div>
<div class='nc-icon'><i class='fa fa-user-plus'></i><input type='text' value='.fa-user-plus'></div>
<div class='nc-icon'><i class='fa fa-user-secret'></i><input type='text' value='.fa-user-secret'></div>
<div class='nc-icon'><i class='fa fa-user-times'></i><input type='text' value='.fa-user-times'></div>
<div class='nc-icon'><i class='fa fa-vcard'></i><input type='text' value='.fa-vcard'></div>
<div class='nc-icon'><i class='fa fa-vcard-o'></i><input type='text' value='.fa-vcard-o'></div>
<div class='nc-icon'><i class='fa fa-venus'></i><input type='text' value='.fa-venus'></div>
<div class='nc-icon'><i class='fa fa-venus-double'></i><input type='text' value='.fa-venus-double'></div>
<div class='nc-icon'><i class='fa fa-venus-mars'></i><input type='text' value='.fa-venus-mars'></div>
<div class='nc-icon'><i class='fa fa-viacoin'></i><input type='text' value='.fa-viacoin'></div>
<div class='nc-icon'><i class='fa fa-viadeo'></i><input type='text' value='.fa-viadeo'></div>
<div class='nc-icon'><i class='fa fa-viadeo-square'></i><input type='text' value='.fa-viadeo-square'></div>
<div class='nc-icon'><i class='fa fa-video-camera'></i><input type='text' value='.fa-video-camera'></div>
<div class='nc-icon'><i class='fa fa-vimeo'></i><input type='text' value='.fa-vimeo'></div>
<div class='nc-icon'><i class='fa fa-vimeo-square'></i><input type='text' value='.fa-vimeo-square'></div>
<div class='nc-icon'><i class='fa fa-vine'></i><input type='text' value='.fa-vine'></div>
<div class='nc-icon'><i class='fa fa-vk'></i><input type='text' value='.fa-vk'></div>
<div class='nc-icon'><i class='fa fa-volume-control-phone'></i><input type='text' value='.fa-volume-control-phone'></div>
<div class='nc-icon'><i class='fa fa-volume-down'></i><input type='text' value='.fa-volume-down'></div>
<div class='nc-icon'><i class='fa fa-volume-off'></i><input type='text' value='.fa-volume-off'></div>
<div class='nc-icon'><i class='fa fa-volume-up'></i><input type='text' value='.fa-volume-up'></div>
<div class='nc-icon'><i class='fa fa-warning'></i><input type='text' value='.fa-exclamation-triangle'></div>
<div class='nc-icon'><i class='fa fa-warning'></i><input type='text' value='.fa-warning'></div>
<div class='nc-icon'><i class='fa fa-wechat'></i><input type='text' value='.fa-wechat'></div>
<div class='nc-icon'><i class='fa fa-weibo'></i><input type='text' value='.fa-weibo'></div>
<div class='nc-icon'><i class='fa fa-whatsapp'></i><input type='text' value='.fa-whatsapp'></div>
<div class='nc-icon'><i class='fa fa-wheelchair'></i><input type='text' value='.fa-wheelchair'></div>
<div class='nc-icon'><i class='fa fa-wheelchair-alt'></i><input type='text' value='.fa-wheelchair-alt'></div>
<div class='nc-icon'><i class='fa fa-wifi'></i><input type='text' value='.fa-wifi'></div>
<div class='nc-icon'><i class='fa fa-wikipedia-w'></i><input type='text' value='.fa-wikipedia-w'></div>
<div class='nc-icon'><i class='fa fa-window-maximize'></i><input type='text' value='.fa-window-maximize'></div>
<div class='nc-icon'><i class='fa fa-window-minimize'></i><input type='text' value='.fa-window-minimize'></div>
<div class='nc-icon'><i class='fa fa-window-restore'></i><input type='text' value='.fa-window-restore'></div>
<div class='nc-icon'><i class='fa fa-windows'></i><input type='text' value='.fa-windows'></div>
<div class='nc-icon'><i class='fa fa-won'></i><input type='text' value='.fa-won'></div>
<div class='nc-icon'><i class='fa fa-wordpress'></i><input type='text' value='.fa-wordpress'></div>
<div class='nc-icon'><i class='fa fa-wpbeginner'></i><input type='text' value='.fa-wpbeginner'></div>
<div class='nc-icon'><i class='fa fa-wpexplorer'></i><input type='text' value='.fa-wpexplorer'></div>
<div class='nc-icon'><i class='fa fa-wpforms'></i><input type='text' value='.fa-wpforms'></div>
<div class='nc-icon'><i class='fa fa-wrench'></i><input type='text' value='.fa-wrench'></div>
<div class='nc-icon'><i class='fa fa-xing'></i><input type='text' value='.fa-xing'></div>
<div class='nc-icon'><i class='fa fa-xing-square'></i><input type='text' value='.fa-xing-square'></div>
<div class='nc-icon'><i class='fa fa-y-combinator-square'></i><input type='text' value='.fa-y-combinator-square'></div>
<div class='nc-icon'><i class='fa fa-yahoo'></i><input type='text' value='.fa-yahoo'></div>
<div class='nc-icon'><i class='fa fa-yc'></i><input type='text' value='.fa-yc'></div>
<div class='nc-icon'><i class='fa fa-yelp'></i><input type='text' value='.fa-yelp'></div>
<div class='nc-icon'><i class='fa fa-yoast'></i><input type='text' value='.fa-yoast'></div>
<div class='nc-icon'><i class='fa fa-youtube'></i><input type='text' value='.fa-youtube'></div>
<div class='nc-icon'><i class='fa fa-youtube-play'></i><input type='text' value='.fa-youtube-play'></div>
<div class='nc-icon'><i class='fa fa-youtube-square'></i><input type='text' value='.fa-youtube-square'></div>
</div>
