<h2 class='bd-b-solid-shade2 mb-100 fw-light'>Forms</h2>

<div class='label'>Inline</div>
<div class='inline-form'>
{% include '@particles/tema/html/form.html' %}
</div>

<div class='label'>Default</div>
{% include '@particles/tema/html/form.html' %}