<h2 class='bd-b-solid-shade2 mb-100 fw-light'>Layouts</h2>

<h3 class='my-100'>Gantry Grid</h3>

<div class='debug fit-height'>

<div class='g-grid'>
<div class='g-block size-100'><div class='g-content pa-50'>size-100</div></div> 
</div>

<div class='g-grid'>
{% for i in 1..2 %}
	<div class='g-block size-50'><div class='g-content pa-50'>size-50</div></div> 
{% endfor %}
</div>

<div class='g-grid'>
{% for i in 1..3 %}
	<div class='g-block size-33-3'><div class='g-content pa-50'>size-33-3</div></div> 
{% endfor %}
</div>

<div class='g-grid'>
{% for i in 1..4 %}
	<div class='g-block size-25'><div class='g-content pa-50'>size-25</div></div> 
{% endfor %}
</div>

<div class='g-grid'>
{% for i in 1..5 %}
	<div class='g-block size-20'><div class='g-content pa-50'>size-20</div></div> 
{% endfor %}
</div>

<div class='g-grid'>
{% for i in 1..10 %}
	<div class='g-block size-10'><div class='g-content pa-50'>10</div></div> 
{% endfor %}
</div>

</div>

<h3 class='my-100'>Freeform flex layout</h3>

<div class='debug'>
<div class='flex wrap'>
<div class='pa-100 full''>full</div>
<div class='pa-100 half'>half</div>
<div class='pa-100 quater'>quater</div>
<div class='pa-100 quater'>quater</div>
<div class='pa-100 third'>third</div>
<div class='pa-100 third'>third</div>
<div class='pa-100 third'>third</div>
<div class='pa-100 third'>third</div>
<div class='pa-100 third grow'>grow</div>
<div class='pa-100 shrink'>shrink</div>
<div class='pa-100 shrink'>shrink</div>
<div class='pa-100 shrink'>shrink</div>
<div class='pa-100 grow'>grow</div>
<div class='pa-100 shrink'>shrink</div>
</div>
</div>

<h3 class='my-100'>Freeform block layout</h3>

<div class='debug'>
<div class='block'>
<div class='pa-100 full'>full</div>
<div class='pa-100 half'>half</div>
<div class='pa-100 quater'>quater</div>
<div class='pa-100 quater'>quater</div>
<div class='pa-100 third'>third</div>
<div class='pa-100 third'>third</div>
<div class='pa-100 third'>third</div>
</div>
</div>

