<h2 class='border-b mb-100 fw-light'>F/X</h2>

<h3>Combine</h3>

<div class='example'>

<div class="flex column center center radial-w pa-600 ncc-surface bg-d3 big auto-text-color mb-100">
	<h1 class="text-shadow anim-bounce">Neocà</h1>
	<p class="text-shadow-2">Neocà helps you creating website/apps.</p>
</div>

</div>

<h3 class='my-100'>Animation</h3>

<div class='flex easy'> 
<i class='ncico-loader x3 anim-spin'></i>
<i class='ncico-grav x2 anim-bounce'></i>
</div>


<h3 class='my-100'>Gradient</h3>

<div class='flex easy'>
<div class='ncc-surface bg-l2 auto-text-color grad-v mr-50 mb-50 pa-200'><i class='ncico-html x3'></i></div>
<div class='ncc-surface bg-l1 auto-text-color grad-h mr-50 mb-50 pa-200'><i class='ncico-html x3'></i></div>
<div class='ncc-surface bg-d1 auto-text-color radial-b mr-50 mb-50 pa-200'><i class='ncico-html x3'></i></div>
<div class='ncc-surface bg-d2 auto-text-color radial-w mr-50 mb-50 pa-200'><i class='ncico-html x3'></i></div>
</div>

<h3 class='my-100'>Text Shadow</h3>

<div class='flex easy'>
<div class='ncc-surface bg-l2 auto-text-color mr-50 mb-50 pa-200'><i class='ncico-css x3 text-shadow'></i></div>
<div class='ncc-surface bg-l1 auto-text-color mr-50 mb-50 pa-200'><i class='ncico-css x3 text-shadow-2'></i></div>
<div class='ncc-surface bg-d1 auto-text-color mr-50 mb-50 pa-200'><i class='ncico-css x3 text-glow'></i></div>
<div class='ncc-surface bg-d2 auto-text-color mr-50 mb-50 pa-200'><i class='ncico-css x3 text-glow-2'></i></div>
</div>

<h3 class='my-100'>Box Shadow</h3>

<div class='flex easy'>
<div class='ncc-surface bg-l3 auto-text-color mr-50 mb-50 pa-200 box-shadow-1'><i class='ncico-grav x3'></i></div>
<div class='ncc-surface bg-l2 auto-text-color mr-50 mb-50 pa-200 box-shadow-2'><i class='ncico-grav x3'></i></div>
<div class='ncc-surface bg-l1 auto-text-color mr-50 mb-50 pa-200 box-shadow-3'><i class='ncico-grav x3'></i></div>
<div class='ncc-surface bg-l auto-text-color mr-50 mb-50 pa-200 box-shadow-4'><i class='ncico-grav x3'></i></div>
</div>


